<form>
	<input
		type="text"
		maxlength="20"
		placeholder="full text search terms"
		ng-model="$ctrl.searchTerm">

	<button ng-click="$ctrl.onSearchClicked()" ng-disabled="$ctrl.loading">Good Luck!</button>
</form>

<blockquote ng-repeat="course in $ctrl.courses" ng-bind="joke"></blockquote>



<table>
	<tbody>
		<tr ng-repeat="course in $ctrl.courses">
			<td>{{ course.name }}</td>
			<td>{{ course.kursStufe}}</td>
			<td>{{ course.beschreibung}}</td>
			<td>{{ course.treffpunkt}}</td>
			<td>{{ course.preisKurs}}</td>
			<td>{{ course.bisDatum}}</td>
			<td>{{ course.vonDatum}}</td>
			<td>{{ course.guide}}</td>
		</tr>
	</tbody>
</table>
