@import "reset";
@import "animations";
@import "components/components";


/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/



html{
	font-size: 16px;
}


body{
	font-family: "Open Sans", "Arial", "sans-serif";
	line-height: 1.25rem;

	.wrapper{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		background-color: rgb(255,255,255);
	}
}


nav{
	padding-top: 7px;

	img#hamburger {
		display: block;
		height: 2rem;
		margin-left: 5px;
		margin-bottom: 6px;
	}

	ul#mainNavi {
		display: block;
		list-style-type: none;
		width: 100%;
		background-color: rgb(255,255,255);
		position: absolute;
		animation: 1.5s slideIn;

		> li {
			margin-bottom: 1px;
			> a {
				text-decoration: none;
				color: rgb(255, 255, 255);
				background-color: rgb(0, 0, 0);
				padding: 8px 5px;
				display: block;
			}
		}
		> li:last-child{
			margin-bottom: 0px;
		}
	}

	ul#mainNavi.hide {
		display: none;
	}
}


header {

	img{
		width: 100%;
	}

	img#mobile {
		display: block;
	}

	.images-carousel {
		display: none;
	}
}


main{
	.text-container{
		margin-bottom: 20px;
	}
}






/* ab hier für desktop */
@media screen and (min-width: 740px) {    //wenn Bildschirm grösser 740 px gross ist, dann...

	nav{
		padding-top: 20px;

		img#hamburger {
			display: none;
		}

		ul#mainNavi, ul#mainNavi.hide {
			display: block;
			padding-right: 36px;
			position: static;
			//ul is floated to the right and li to the left because otherwise items order will change
			float: right;
			width: 500px;

			> li {
				float: left	;
				padding-left: 12px;
				position: relative;

				a.u-slide-line{
					color: rgb(0,0,0);
					background: url("../../images/link.png") white bottom left repeat-x;
					position: relative;
					display: inline-block;
					overflow: hidden;
					text-decoration: none;
					padding: 0px 0px 3px 0px;
					margin-bottom: 1px;
				}

				a.u-slide-line::after{
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: rgb(255,189,30);
					visibility: hidden;
					transform: translate3d(-100%,0,0);
					transition: visibility 0ms linear 350ms, transform 350ms cubic-bezier(.215, .61, .355,1);
				}

				a.u-slide-line:hover::after{
					visibility: visible;
					transform: translate3d(0%,0,0);
					transition: visibility 0ms linear 0ms, transform 350ms cubic-bezier(.215, .61, .355,1);
				}
			}
		}
	}


	header{
		img#desktop_logo{
			display: block;
			position: absolute;
		}

		img#mobile {
			display: none;
		}

		.images-carousel {
			display: block;
			width: 100%;
		}
		margin-bottom: 40px;
	}


	main{
		.text-container{
			margin-bottom: 40px;
		}
	}

}