# Intellij Zeugs ausschliessen
.idea/

.sass-cache/
node_modules/

# alles im dist Ordner ausschliessen
dist/

# alles im src/assets/scripts und src/app/assets/ Ordner ausschliessen
src/assets/scripts/
src/app/assets/

# alle css Dateien im src/assets/css ausschliessen
src/assets/css/

# die Datei, die bestätigt, dass man der Inhaber ist, ausschliessen
src/assets/webServerConfig/google6d6ea9eec37d2de0.html

# die imageConfig.js Datei in Root Ordner ausschliessen
# imageConfig.js
