.course-list{
  @include courseTableFont();
  display: flex;
  flex-flow: column nowrap;
  padding: $basicHeight $basicWidth;
}


.course-list-item-wrapper:not(:first-of-type){
	margin-top: $basicHeight;
}

.course-list-item{
	@include courseTableFont();
  	background-color: $color-drawer-background-dateTable;
	display: flex;
  	flex-flow: row nowrap;
	text-decoration: none;
}

.course-list-item-detail{
	@include courseTableDetailFont();
	background-color: $color-drawer-background-dateTable;
	margin-top: 0.5*$basicHeight;
	max-height: 0;
	overflow: hidden;
	transition: max-height 300ms ease-in-out 1ms;
}

.course-list-item-detail.js-show{
	max-height: 450px;
	transition: max-height 300ms ease-in-out 1ms;
}

.course-list-item-detail__content-wrapper{
	padding: 2*$basicHeight 2*$basicWidth;
}

h4.course-list-detail__title{
	font-family: $standardTextFont;
	font-size: $smallTitleSize;
	color: $color-textContainer-titleH4;
	line-height: 1.5rem;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
}


h4.course-list-detail__title::after{
	content: ':';
}

.course-list-detail__amount--part, .course-list-detail__amount--total{
	margin-right: $basicWidth;
	padding-top: 0.5*$basicHeight;
	text-align: right;
}

.course-list-detail__amount--total{
	border-top: black solid 1px;
	font-weight: bold;
}

.course-list-detail__amount--part::after, .course-list-detail__amount--total::after{
	content: ' CHF';
}




// Name
.course-item__name-wrapper{
  border-right: 0.5*$basicWidth solid $color-drawer-background-drawer;
  flex: 2 2 40%;
  padding: $basicHeight $basicWidth;
}

.course-item__name{
  	@include courseTableTitelFont();
  	padding: 0;
	pointer-events: none;
}


// Ort
.course-item__place-wrapper{
  border-right: 0.5*$basicWidth solid $color-drawer-background-drawer;
  flex: 1 1 20%;
  padding: $basicHeight 0;
}

.course-item__place{
  	padding: 0 $basicWidth;
	pointer-events: none;
}

.course-place__city::after{
  content: ', ';
}


// Dauer
.course-item__duration-wrapper{
  	display: none;
}

.course-item__duration{
	pointer-events: none;
}


// Datum
.course-item__date-wrapper{
  flex: 1 1 20%;
  padding: $basicHeight 0;
}

.course-item__date{
  	padding: 0 $basicWidth;
	pointer-events: none;
}

.course-date__from::after{
  content: ' - ';
}




/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {

  	.course-list{
    	padding: $basicHeight 2*$basicWidth;
  	}


	.course-list-item:hover{
		background-color: $color-drawer-background-dateTable-hover;
	}

  	// Dauer
  	.course-item__duration-wrapper{
		border-right: 0.5*$basicWidth solid $color-drawer-background-drawer;
		display: block;
		flex: 1 1 10%;
		padding: $basicHeight 0;
  	}

  	.course-item__duration{
    	padding: 0 $basicWidth;
  	}
}
