.course-list{
  @include courseTableFont();
  //border: 1px solid $complimentaryColor2;
  display: flex;
  flex-flow: column nowrap;
  padding: $basicHeight $basicWidth;
}


.course-list-item{
	@include courseTableFont();
  	background-color: $color-drawer-background-dateTable;
	display: flex;
  	flex-flow: row nowrap;
	text-decoration: none;
  //padding: $basicHeight 0;
}

.course-list-item:not(:last-of-type){
  margin-bottom: $basicHeight;
}


// Name
.course-item__name-wrapper{
  border-right: 3px solid $color-drawer-background-drawer;
  flex: 2 2 40%;
  padding: $basicHeight $basicWidth;
}

.course-item__name{
  	@include courseTableTitelFont();
  	padding: 0;
}


// Ort
.course-item__place-wrapper{
  border-right: 3px solid $color-drawer-background-drawer;
  flex: 1 1 20%;
  padding: $basicHeight 0;
}

.course-item__place{
  padding: 0 $basicWidth;
}

.course-place__city::after{
  content: ',';
}


// Dauer
.course-item__duration-wrapper{
  display: none;
}


// Datum
.course-item__date-wrapper{
  flex: 1 1 20%;
  padding: $basicHeight 0;
}

.course-item__date{
  padding: 0 $basicWidth;
}

.course-date__from::after{
  content: ' -';
}




/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {

  	.course-list{
    	padding: $basicHeight 2*$basicWidth;
  	}


	.course-list-item:hover{
		background-color: $color-drawer-background-dateTable-hover;
	}

  	// Dauer
  	.course-item__duration-wrapper{
		border-right: 3px solid $color-drawer-background-drawer;
		display: block;
		flex: 1 1 10%;
		padding: $basicHeight 0;
  	}

  	.course-item__duration{
    	padding: 0 $basicWidth;
  	}
}
