.course-list{
  @include courseTableFont();
  display: flex;
  flex-flow: column nowrap;
  padding: $basicHeight $basicWidth;
}


.course-list-item-wrapper:not(:first-of-type){
	margin-top: $basicHeight;
}

.course-list-item{
	@include courseTableFont();
  	background-color: $color-drawer-background-dateTable;
	display: flex;
  	flex-flow: row nowrap;
	text-decoration: none;
}

.course-list-item-detail{
	@include courseTableDetailFont();
	background-color: $color-drawer-background-dateTable;
	margin-top: 0.5*$basicHeight;
	max-height: 0;
	overflow: hidden;
	transition: max-height 300ms ease-in-out 1ms;
}

.course-list-item-detail.js-show{
	max-height: 2000px;
	transition: max-height 300ms ease-in-out 1ms;
}

.course-list-item-detail__content-wrapper{
	padding: 2*$basicHeight 2*$basicWidth;
}

.paddleJourneyItem{
	box-shadow: 11px 12px 10px rgba(0, 0, 0, 0.6); 
	-webkit-box-shadow: 11px 12px 10px rgba(0, 0, 0, 0.6); 
	-moz-box-shadow: 11px 12px 10px rgba(0, 0, 0, 0.6); 
	margin: 0px 6px;
}

.paddleJourneyItem:last-of-type{
	margin-bottom: 4*$basicHeight;
}

h4.course-list-detail__title{
	font-family: $standardTextFont;
	font-size: $smallTitleSize;
	color: $color-textContainer-titleH4;
	line-height: 1.5rem;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
}


h4.course-list-detail__title::after{
	content: ':';
}

.course-list-detail__amount--part, .course-list-detail__amount--total{
	margin-right: $basicWidth;
	padding-top: 0.5*$basicHeight;
	text-align: right;
}

.course-list-detail__amount--total{
	border-top: black solid 1px;
	font-weight: bold;
}

.course-list-detail__amount--part::after, .course-list-detail__amount--total::after{
	content: ' CHF';
}


// Status
.course-item__status-wrapper{
	border-right: 0.5*$basicWidth solid $color-drawer-background-drawer;
	flex: 0 0 2%;
	padding: $basicHeight $basicWidth;
}

.course-list-item-detail__status{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	max-width: 98.2%;
	margin: 2px 0 0 2px;
	box-shadow: 7px 11px 10px rgba(0, 0, 0, 0.6); 
	-webkit-box-shadow: 7px 11px 10px rgba(0, 0, 0, 0.6); 
	-moz-box-shadow: 7px 11px 10px rgba(0, 0, 0, 0.6); 
}

.course-item__status-wrapper.course-item__status-green,
.course-list-item-detail__status.course-list-item-detail__status-green{
	background-color: $colorStatusGreen;
}

.course-item__status-wrapper.course-item__status-yellow,
.course-list-item-detail__status.course-list-item-detail__status-yellow{
	background-color: $colorStatusYellow;
}

.course-item__status-wrapper.course-item__status-red,
.course-list-item-detail__status.course-list-item-detail__status-red{
	background-color: $colorStatusRed;
}
  
.course-item__status{
	padding: 0;
	pointer-events: none;
}

// Name
.course-item__name-wrapper{
  border-right: 0.5*$basicWidth solid $color-drawer-background-drawer;
  flex: 2 2 40%;
  padding: $basicHeight $basicWidth;
}

.course-item__name{
  	@include courseTableTitelFont();
  	padding: 0;
	pointer-events: none;
}


// Ort
.course-item__place-wrapper{
  border-right: 0.5*$basicWidth solid $color-drawer-background-drawer;
  flex: 1 1 20%;
  padding: $basicHeight 0;
}

.course-item__place{
  	padding: 0 $basicWidth;
	pointer-events: none;
}

.course-place__city::after{
  content: ', ';
}


// Dauer
.course-item__duration-wrapper{
  	display: none;
}

.course-item__duration{
	pointer-events: none;
}


// Datum
.course-item__date-wrapper{
  flex: 1 1 20%;
  padding: $basicHeight 0;
}

.course-item__date{
  	padding: 0 $basicWidth;
	pointer-events: none;
}

.course-date__from::after{
  content: ' - ';
}




/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {

  	.course-list{
    	padding: $basicHeight 2*$basicWidth;
  	}

	.course-list-item:hover{
		background-color: $color-drawer-background-dateTable-hover;
	}

	// Status
	.course-item__status-wrapper{
		flex: 0 0 3%;
	}
	  
	.course-list-item-detail__status{
		min-height: 50px;
		max-width: 99.2%;
		margin: 3px 0 0 3px;
	}

  	// Dauer
  	.course-item__duration-wrapper{
		border-right: 0.5*$basicWidth solid $color-drawer-background-drawer;
		display: block;
		flex: 1 1 10%;
		padding: $basicHeight 0;
  	}

  	.course-item__duration{
    	padding: 0 $basicWidth;
	}
	  
	.paddleJourneyItem{
		margin-bottom: 2*$basicHeight;
		border-bottom: 1px solid $color-drawer-background-drawer;
		max-width: 98.8%;	
	}
}
