/*
|------------.footer-------------------------------------------------------|
||------------------.footer-wrapper---------------------------------------||
|| |----------------.footer-nav-----|------.backtotop-------------------| ||
|| |                                |                                   | ||
|| |--------------------------------|-----------------------------------| ||
||------------------------------------------------------------------------||
||------------------------------------------------------------------------||
*/
.footer{
  @include footerFontMobile();
  background-color: $color-footer-mobile-background;
  color: $color-footer-mobile-text;
  margin: 0 auto;
  max-width: $maxWidth;
  padding: $basicHeight $basicWidth;
  width: 100%;
}

.footer-grid-container{
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"links social" 
		"address uptotop"
		"imprint imprint";
		
	column-gap: 2*$basicWidth;
	row-gap: 2*$basicWidth;
}

.footer-address{
	grid-area: address;
}

.footer-socialmedia-wrapper{
	grid-area: social;
}

.footer-links-wrapper{
	grid-area: links;
}

.backtotop{
	grid-area: uptotop;
}

.footer__bottom{
	grid-area: imprint;
}

// .footer__wrapper{
// 	display: flex;
// 	flex-flow: column nowrap;
// }

// .footer__main{
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
//   align-items: center;
// }



.footer-address{
	@include footerFontMobile();
  	display: flex;
	flex-flow: column nowrap;
	align-self: flex-start;
}

.footer-address__link{
	@include footerFontMobile();
	color: $color-footer-link;
}


/****** Footer Links ******/
.footer-links-wrapper{
	// display: flex;
	// flex-flow: column nowrap;
	// align-items: center;
	// align-self: flex-start;
	align-self: center;
}

.footer-links-list{
	li{
		margin-bottom: 0.5*$basicHeight;
	}
}

.footer-links-list-item{
	@include footerFontMobile();
	color: $color-footer-link;
}









.footer-socialmedia-list{
	display: flex;
	flex-flow: row nowrap;
}

.footer-socialmedia-icon{
	flex: 1 1 33%;

	img{
		width: 60%;
	}
}

.footer-socialmedia-googlemaps-wrapper{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	img{
		width: 25%;
		margin: $basicHeight $basicWidth $basicHeight 0px; 
	}

	.footer-socialmedia-googlemaps-links{
		display: flex;
		flex-flow: column nowrap;

		a {
			@include footerFontMobileSmall();
			text-align: start;

			span{
				display: none;
			}
		}

		a:not(:last-of-type) {
			margin-bottom: 1.5*$basicHeight;
		}
	}
}



.backtotop{
	align-self: center;
	justify-self: center;
}





.footer__bottom{
	justify-self: center;
}

.footer-links__impressum__list{
	display: flex;
	flex-flow: row nowrap;

	li:not(:last-of-type):after{
		@include footerFontSmall();
		content: '-';
		margin: 0 $basicWidth;
	}
}



/*
  |------------.backtotop--------------------------------------------------------|
  ||------------------.backtotop-wrapper----------------------------------------||
  ||                                                                            ||
  || |---.backtotop-wrapper__label-----|----.backtotop-wrapper__img-----------| ||
  || |                                 |                                      | ||
  || |                                 |                                      | ||
  || |---------------------------------|--------------------------------------| ||
  ||                                                                            ||
  ||----------------------------------------------------------------------------||
  |------------------------------------------------------------------------------|
  */
.backtotop-wrapper{
  align-items: center;
  color: $color-footer-link;
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;

	.backtotop-wrapper__img{
		svg g g {
			stroke: $color-footer-link;
		}
	}
}

.backtotop-wrapper__label{
  display: none;
}

.impressum-list__item{
	@include footerFontMobileSmall();
	text-decoration: none;
}







/* *************************************************** */
/* *********** ab hier für tablet ******************* */
@media screen and (min-width: $breakpoint-medium) { //wenn Bildschirm grösser 740 px gross ist, dann...

	.footer__wrapper{
		text-align: center;
	}

	.footer-grid-container{
		justify-items: center;
	}

	.footer-socialmedia-icon{
		img{
			width:35%;
		}
	}

	.footer-socialmedia-googlemaps{
		margin-left: 14%;
	}

	.footer-socialmedia-googlemaps-wrapper{
		justify-content: center;
		
		img{
			width: 15%;
			margin: 2*$basicHeight 2*$basicWidth;
		}

		.footer-socialmedia-googlemaps-links{
			a{
				max-width: 70%;

				span{
					display: inline;
				}
			}
		}
	}
}





/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) { //wenn Bildschirm grösser ist als, dann...

  	.footer{
		background-color: $color-footer-desktop-background;
    	padding: $basicHeight 2*$basicWidth;
  	}

  	// .footer__main{
    // 	flex-flow: row nowrap;
  	// }

	.footer-grid-container{
		display: grid;

		justify-items: start;

		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"address social links uptotop"
			"imprint imprint imprint imprint";
			
		column-gap: 2*$basicWidth;
		row-gap: 2*$basicWidth;
	}



	.footer-address{
		color: $color-footer-desktop-text;
		align-self: center;
	}

	.footer-address__link{
		@include footerFont();
		color: $color-footer-link;
	}

	.footer-address__link:hover{
		color: $color-footer-link-hover;
	}





	.footer-socialmedia-icon{
		img{
			width:50%;
		}

		img:hover{
			background-color: $baseColor1;
		}
	}

	.footer-socialmedia-googlemaps{
		margin-left: 0;
	}

	.footer-socialmedia-googlemaps-wrapper{
		img{
			width: 25%;
			margin: 2*$basicHeight 2*$basicWidth; 
		}

		.footer-socialmedia-googlemaps-links{
			a {
				max-width: 100%;
			}
			a:hover{
				color: $color-footer-link-hover;
			}
		}
	}
	






	.footer-links-wrapper{
		justify-self: center;
		align-self: center;
	}

	.footer-links-list{
		color: $color-footer-desktop-text;

		// li:not(:last-of-type):after{
		// 	color: $baseColor1;
		// 	content: '|';
		// 	margin: 0 $basicWidth;
		// }
	}

	.footer-links-list-item{
		@include footerFont();
		color: $color-footer-link;
	}

	.footer-links-list-item:hover{
		color: $color-footer-link-hover;
	}




	.backtotop-wrapper{
		color: $color-footer-link;

		.backtotop-wrapper__img{
			svg g g {
				stroke: $color-footer-link;
			}
		}
	}

  	.backtotop-wrapper:hover{
		color: $color-footer-link-hover;

    	.backtotop-wrapper__img{
      		svg g g {
        		stroke: $color-footer-link-hover;
      		}
    	}
  	}

  	.backtotop-wrapper__label{
    	display: inline-block;
    	padding-right: 1.5*$basicWidth;
  	}




	.impressum-list__item{
		@include footerFontSmall();
	}

	.impressum-list__item:hover{
		color: $color-footer-link-hover;
	}
}
