/*
|------------.footer-------------------------------------------------------|
||------------------.footer-wrapper---------------------------------------||
|| |----------------.footer-nav-----|------.backtotop-------------------| ||
|| |                                |                                   | ||
|| |--------------------------------|-----------------------------------| ||
||------------------------------------------------------------------------||
||------------------------------------------------------------------------||
*/
.footer{
  @include footerFontMobile();
  background-color: white; //$baseColor3;
  color: $complimentaryColor2;
  margin: 0 auto;
  max-width: $maxWidth;
  padding: $basicHeight $basicWidth;
  width: 100%;
}

.footer__wrapper{
	display: flex;
	flex-flow: column nowrap;
}

.footer__main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom{
	margin: 0 auto;
}

.footer-address{
	@include footerFontMobile();
  	display: flex;
	flex-flow: column nowrap;
	align-self: flex-start;
}

.footer-address__link{
	@include footerFontMobile();
}


/****** Footer Links ******/
.footer-links-wrapper{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-self: flex-start;
}

.footer-links__impressum__list{
	display: flex;
	flex-flow: row nowrap;

	li:not(:last-of-type):after{
		@include footerFontSmall();
		content: '-';
		margin: 0 $basicWidth;
	}
}

.footer-links__agb__list{
	li{
		margin-bottom: 0.5*$basicHeight;
	}
}

.agb-list__item{
	@include footerFontMobile();
}



/*
  |------------.backtotop--------------------------------------------------------|
  ||------------------.backtotop-wrapper----------------------------------------||
  ||                                                                            ||
  || |---.backtotop-wrapper__label-----|----.backtotop-wrapper__img-----------| ||
  || |                                 |                                      | ||
  || |                                 |                                      | ||
  || |---------------------------------|--------------------------------------| ||
  ||                                                                            ||
  ||----------------------------------------------------------------------------||
  |------------------------------------------------------------------------------|
  */
.backtotop-wrapper{
  align-items: center;
  color: $footerColorMobile;
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;

	.backtotop-wrapper__img{
		svg g g {
			stroke: $footerColorMobile;
		}
	}
}

.backtotop-wrapper__label{
  display: none;
}

.impressum-list__item{
	@include footerFontMobileSmall();
	text-decoration: none;
}




/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) { //wenn Bildschirm grösser 740 px gross ist, dann...

  	.footer{
    	padding: $basicHeight 2*$basicWidth;
  	}

  	.footer__main{
    	flex-flow: row nowrap;
  	}


	.footer-address{
		color: $footerColor;
		align-self: center;
	}

	.footer-address__link{
		@include footerFont();
	}

	.footer-address__link:hover{
		color: $baseColor3;
	}


	.footer-links-wrapper{
		align-self: center;
	}

	.footer-links__agb__list{
		color: $footerColor;
		display: flex;
		flex-flow: row nowrap;

		li:not(:last-of-type):after{
			color: $baseColor3;
			content: '|';
			margin: 0 $basicWidth;
		}
	}

	.agb-list__item{
		@include footerFont();
	}

	.agb-list__item:hover{
		color: $baseColor3;
	}


	.impressum-list__item{
		@include footerFontSmall();
	}

	.impressum-list__item:hover{
		color: $baseColor3;
	}


	.backtotop-wrapper{
		color: $footerColor;

		.backtotop-wrapper__img{
			svg g g {
				stroke: $footerColor;
			}
		}
	}

  	.backtotop-wrapper:hover{
		color: $baseColor3;

    	.backtotop-wrapper__img{
      		svg g g {
        		stroke: $baseColor3;
      		}
    	}
  	}

  	.backtotop-wrapper__label{
    	display: inline-block;
    	padding-right: 1.5*$basicWidth;
  	}
}
