.gridx3 {
	display: grid;
	grid-template: [Zeile1] "row1" auto [Zeile1Ende]
                   / auto;
}

.gridx3__width1--col2of3{
	grid-area: 1 / 1 / 1 / 1;
	height: 56px;
}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) { //wenn Bildschirm grösser 740 px gross ist, dann...


	.gridx3 {
		display: grid;
		grid-template: [Zeile1] "row1 row1 row1" auto [Zeile1Ende]
                   / auto $maxWidth auto;
	}


	.gridx3__width1--col1of3{
		background-color: white;
		grid-area: 1 / 1 / 1 / 2;
		height: 57px;
	}

	.gridx3__width1--col2of3{
		grid-area: 1 / 2 / 1 / 3;
		height: 57px;
	}

	.gridx3__width1--col3of3{
		background-color: white;
		grid-area: 1 / 3 / 1 / 4;
		height: 57px;
	}

}

