.images-carousel {
  	position: relative;

  > .images {
    	position: relative;
    	z-index : 1;
  }

  > .images > .image {
	  list-style: none;
	  float: left;
	  left: 0;
	  position: absolute;
	  width: 100%;
  }
}
