.images-carousel {
  	position: relative;
	overflow: hidden;

  > .images {
    	position: relative;
    	z-index : 1;
  }

  > .images > .image {
	  list-style: none;
	  float: left;
	  left: 0;
	  width: 100%;
  }

	> .topImage {
		position: relative;
		float: left;

		img {
			opacity: 100;
		}
	}
}
