//https://tympanus.net/codrops/2013/08/09/building-a-circular-navigation-with-css-transforms/
.info-nav-parent{
  position: fixed;
  z-index: 3;
}


.info-nav{
  position: absolute;
  border: 2px solid blue;
  top: -115px;
  left: -40px;
  width: 20em;
  height: 20em;
  transition: all 1s ease;
}

.info-nav.opened-nav{
  top: 20px;
  left: 28px;
  transition: all 1s ease;
}



.info-nav .info-nav-button {
  @include navigationFontDesktop();
  font-size: 1.1rem;
  position: absolute;
  top: 38%;
  right: 40%;
  height: 3.5em;
  width: 3.5em;
  color: white;
  background-color: $color-course-date-overview;
  border: 1px solid $color-course-date-overview;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 50%;
  z-index: 2
}
.info-nav .info-nav-button:active{
  transform: scale(0.98);
}


.info-nav .info-nav-wrapper {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
  margin-top: 0em;
  margin-left: 0em;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background: transparent;
  //opacity: 0;
  transition: all 1s ease 0.3s;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden; 
}
  
/* Damit man das innere des Kreises nicht anklicken kann*/
.info-nav .info-nav-wrapper:after{
  position: absolute;
  left: 50%;
  top: 50%;
  color: transparent;
  content: ".";
  display: block;
  font-size: 2em;
  width: 5em;
  height: 5em;
  margin-left: -2.5em;
  margin-top: -2.7em;
  border-radius: 50%;
  z-index: 1;
}

.info-nav .info-nav-wrapper li {
  position: absolute;
  left: 50%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  width: 10em;
  height: 10em;
  font-size: 1.1em;
  transition: all 1s ease;
  transform: rotate(76deg) skew(60deg);
  transform-origin: 100% 100%;
  pointer-events: none;
}
  
.info-nav .info-nav-wrapper li a {
  position: absolute;
  //position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
  right: -7.25em;
  bottom: -7.25em;
  display: block;
  width: 14.5em;
  height: 14.5em;
  border-radius: 50%;
  background: radial-gradient(transparent 35%, $baseColor1 35%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  transition: all 1s ease;
  transform: skew(-50deg) rotate(-70deg) scale(1);     //unrotate -[90-(x/2)] = -[90-(40/2)] = -70deg
  pointer-events: auto;
}
  
.info-nav .info-nav-wrapper li a span {
  position: relative;
  top: 1.8em;
  display: block;
  font-size: .5em;
  font-weight: 700;
  text-transform: uppercase;
}

.info-nav .info-nav-wrapper li a:active,
.info-nav .info-nav-wrapper li a:focus {
  background: radial-gradient(transparent 35%, $baseColor2 35%);
}


/* 
  for a central angle x, the list items must be skewed by 90-x degrees
  in our case x=40deg so skew angle is 50deg
  items should be rotated by x, minus (sum of angles - 180)2s (for this demo) 
*/
/* 
  In meinem Fall 360 Grad Kreis mit 9 Elementen -> central angle = 40.
  x = 360/9 = 40deg -> 90-40 = skew angle ist 50deg
  rotation = 40 - (9*40 - 180) = -140
  Von -140deg ausgehend immer plus 40deg
*/

.info-nav .opened-nav {
  border-radius: 50%;
  opacity: 1;
  transition: all 1s ease;
  transform: scale(1);
  pointer-events: auto;
}

.info-nav .opened-nav li {
  transition: all 1s ease .3s;
}


.info-nav .opened-nav li:first-child {
  transform: rotate(-100deg) skew(50deg);
}
.info-nav .opened-nav li:first-child a span{
  transform: rotate(170deg);
}


.info-nav .opened-nav li:nth-child(2) {
  transform: rotate(-60deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(2) a span{
  transform: rotate(129deg);
}


.info-nav .opened-nav  li:nth-child(3) {
  transform: rotate(-20deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(3) a span{
  transform: rotate(90deg);
}


.info-nav .opened-nav li:nth-child(4) {
  transform: rotate(20deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(4) a span{
  transform: rotate(47deg);
}


.info-nav .opened-nav li:nth-child(5) {
  transform: rotate(60deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(5) a span{
  transform: rotate(8deg);
}


.info-nav .opened-nav li:nth-child(6) {
  transform: rotate(100deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(6) a span{
  transform: rotate(-29deg);
}


.info-nav .opened-nav li:nth-child(7) {
  transform: rotate(140deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(7) a{
  background: radial-gradient(transparent 35%, $color-course-date-overview 35%);
}
.info-nav .opened-nav li:nth-child(7) a:hover{
  background: radial-gradient(transparent 35%, $color-course-date-overview-light 35%);
}
.info-nav .opened-nav li:nth-child(7) a span{
  transform: rotate(-70deg);
}


.info-nav .opened-nav li:nth-child(8) {
  transform: rotate(180deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(8) a span{
  transform: rotate(250deg);
}


.info-nav .opened-nav li:nth-child(9) {
  transform: rotate(220deg) skew(50deg);
}
.info-nav .opened-nav li:nth-child(9) a span{
  transform: rotate(207deg);
}





/* *************************************************** */
/* *********** ab hier für tablet ******************* */
@media screen and (min-width: $breakpoint-medium) { 

}




/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {
  .info-nav-parent{
    position: relative;
    z-index: 1;
  }
  
  .info-nav{
    top: -160px;
    right: -80px;
    left: unset;
    width: 27em;
    height: 27em;
    transition: all 1s ease;
  }
  
  .info-nav.opened-nav{
    top: 60px;
    right: 60px;
    left: unset;
    transition: all 1s ease;
  }





  .info-nav .info-nav-button {
    top: 39%;
    right: 40%;
    height: 4.5em;
    width: 4.5em;
    cursor: pointer;
  }
  .info-nav .info-nav-button:hover{
    background-color: $complimentaryColor1;
    color: $color-course-date-overview;
    transform: scale(1.02);
  }
  .info-nav .info-nav-button:active{
    transform: scale(0.98);
  }


  .info-nav .info-nav-wrapper {
    top: 0%;
    right: 0%;
    margin-top: 0em;
    margin-left: 0em;
    width: 27em;
    height: 27em;
  }

  .info-nav .info-nav-wrapper li {
    font-size: 1.5em;
  }

  /* Damit man das innere des Kreises nicht anklicken kann*/
  .info-nav .info-nav-wrapper:after{
    width: 6.4em;
    height: 6.4em;
    margin-left: -3.2em;
    margin-top: -3.4em;
  }


  .info-nav .info-nav-wrapper:hover {
    opacity: 1;
  }

  .info-nav .info-nav-wrapper li a:hover,
  .info-nav .info-nav-wrapper li a:active,
  .info-nav .info-nav-wrapper li a:focus {
    background: radial-gradient(transparent 35%, $baseColor2 35%);
  }


  .info-nav .opened-nav {
    opacity: 0.8;
  }


}
