.hamburger-wrapper {
	padding-top: 7px;
	background-color: $color-nav-mobile-background;
	position: fixed;
	top: 0;
	z-index: 5;
}

#hamburger {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 6px;

	.hamburger__line-1 rect, .hamburger__line-2 rect, .hamburger__line-3 rect{
		transition: transform 0.3s ease-in-out 1ms;
	}
}

#hamburger.js-close-nav-button{
	.hamburger__line-1 rect{
		transform: translateX(9px) translateY(-3px) rotate(45deg);
		transition: transform 0.5s ease-in-out 1ms;
	}

	.hamburger__line-2 rect{
		transform: translateX(-50px);
		transition: transform 0.5s ease-in-out 1ms;
	}

	.hamburger__line-3 rect{
		transform: translateX(-24px) translateY(14px) rotate(-45deg);
		transition: transform 0.5s ease-in-out 1ms;
	}
}

nav{
	background-color: $color-nav-mobile-background;
	position: fixed;
	top: 55px;
	width: 100%;
	z-index: 5;

	ul.main-navi-desktop {
		display: block;
		list-style-type: none;
		width: 100%;
		background-color: rgb(255,255,255);
		position: absolute;
		animation: 1.5s slideIn;



		div.main-navi-desktop-submenu__kurse{
			display: grid;
			position: relative;
			pointer-events: auto;
			background-color: white;
			padding: 8px 8px;

			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas: "item11 item12"
								 "item21 item22";
			column-gap: 8px;
			row-gap: 8px;

			background-color: $color-nav-mobile-background-slider;

			a.submenu-row1-column1, a.submenu-row1-column2,
			a.submenu-row2-column1, a.submenu-row2-column2{
				//display: inline-block;
				//background-color: $color-nav-mobile-background-slider;
				text-decoration: none;
				//padding-bottom: $basicHeight;
				//width: 100%;
			}

			a.submenu-row1-column1{
				grid-area: item11;
			}
	
			a.submenu-row1-column2{
				grid-area: item12;
			}
	
			a.submenu-row2-column1{
				grid-area: item21;
			}
	
			a.submenu-row2-column2{
				grid-area: item22;
			}

			div.submenu-content{
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				
				.submenu-content-image{
					height: 100px;
					width: 150px;
	
					img{
						width: 100%;	
						height: auto;
					}
				}
				
				.submenu-content-label{
					color: $color-nav-mobile-text;
					padding-top: $basicWidth;
				}
			}
		}

		li.main-navi-desktop__label{
			display: none;
		}


		

		> li {
			margin-bottom: 2px;
			> a {
				text-decoration: none;
				color: $color-nav-mobile-text;
				background-color: $color-nav-mobile-background-slider;
				padding: 12px 5px;
				display: block;
			}
		}
		> li:last-child{
			margin-bottom: 0px;
		}
		> li:not(:last-child){
			> a::before{
				content: 'Wildwasser '
			}
		}
	}

	ul.main-navi-desktop.js-hide {
		display: none;
	}
}


/* ************************************************************* */
/* *********** ab hier für mobile quer ******************* */
@media screen and (min-width: 600px) {    // wenn Bildschirm grösser als 600px dann...

	nav{

		ul.main-navi-desktop {

			div.main-navi-desktop-submenu__kurse{
				display: grid;
				position: relative;
				pointer-events: auto;
				background-color: white;
				padding: 0px;
				top: 0px;
				left: 0px;
		
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: auto;
				grid-template-areas: "item11 item12 item21 item22";

				column-gap: 0px;
				row-gap: 0px;
		
				a.submenu-row1-column1, a.submenu-row1-column2,
				a.submenu-row2-column1, a.submenu-row2-column2{
					display: inline-block;
					background-color: $color-nav-mobile-background-slider;
					text-decoration: none;
					padding-bottom: $basicHeight;
					width: 100%;
				}
		
				div.submenu-content{
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					
					.submenu-content-image{
						height: 100px;
						width: 150px;
		
						img{
							width: 100%;	
							height: auto;
						}
					}
					
					.submenu-content-label{
						color: $color-nav-mobile-text;
						padding-top: 0.5*$basicWidth;
					}
				}
			}
		}
	}
}



/* ************************************************************* */
/* *********** ab hier für tablet ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als 688px dann...

	nav{
		ul.main-navi-desktop {
			div.main-navi-desktop-submenu__kurse{
				div.submenu-content{
					.submenu-content-image{
						height: 120px;
						width: 180px;
					}
				}
			}
		}
	}
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) { //wenn Bildschirm grösser 992 px gross ist, dann...

	.nav-wrapper{
		position: sticky;
		top: 0;
		z-index: 5;
	}

	.nav-flex-wrapper{
		display: flex;
		justify-content: flex-end;
		height: 8*$basicHeight;
		background-color: $color-main-background;
	}

	nav {
		background-color: $color-nav-desktop-background;
		padding-bottom: $basicHeight;
		padding-top: 16px;
		position: fixed;
		top: 0;
		z-index: 5;
		width: unset;

		#hamburger {
			display: none;
		}

		ul.main-navi-desktop, ul.main-navi-desktop.js-hide {
			display: block;
			position: static;
			
			//Ist der Rahmen, damit das main-navi-desktop-submenu rein- und rausgeschoben werden kann.
			div.main-navi-desktop-submenu-frame{
				position: absolute;
				top: 32px;
				left: 12px;
				overflow: hidden;
				pointer-events: none;
			}

			div.main-navi-desktop-submenu__kurse{
				display: grid;
				position: relative;
				pointer-events: auto;
				background-color: white;
				padding: 16px 16px;
				transition: left 0.3s ease-in-out;
				left: -412px;

				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				grid-template-areas: "item11 item12"
									 "item21 item22";
				column-gap: 16px;
				row-gap: 16px;


				div.submenu-content{
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					
					.submenu-content-image{
						overflow: hidden;
						height: 120px;
						width: 180px;

						img{
							width: 100%;	
							height: auto;
							-webkit-transform: scale(1);
							-moz-transform: scale(1);
							-ms-transform: scale(1);	
							-o-transform: scale(1);
							transform: scale(1);
							
							-webkit-transition: all 0.3s linear;
							-moz-transition: all 0.3s linear;
							-ms-transition: all 0.3s linear;
							-o-transition: all 0.3s linear;
							transition: all 0.3s linear;
						}
					}
					
					.submenu-content-label{
						color: lighten(black, 50%);
						padding-top: 8px;
						padding-left: 0px;
						font-size: 1.2rem;
			 			font-weight: bold;

						transition: all 0.3s linear;
					}
				}

				a.submenu-row1-column1, a.submenu-row1-column2,
				a.submenu-row2-column1, a.submenu-row2-column2{
					background-color: white;
					text-decoration: none;
					padding-bottom: 0px;
				}

				a.submenu-row1-column1:hover, a.submenu-row1-column2:hover, 
				a.submenu-row2-column1:hover, a.submenu-row2-column2:hover{
					.submenu-content .submenu-content-image img{
						-webkit-transform: scale(1.1);
						-moz-transform: scale(1.1);
						-ms-transform: scale(1.1);
						-o-transform: scale(1.1);
						transform: scale(1.1);
					}

					.submenu-content .submenu-content-label{
						color: black;
						font-size: 1.3rem;
					}
				}

				a.submenu-row1-column1{
					grid-area: item11;
				}

				a.submenu-row1-column2{
					grid-area: item12;
				}

				a.submenu-row2-column1{
					grid-area: item21;
				}

				a.submenu-row2-column2{
					grid-area: item22;
				}
			}

			li.main-navi-desktop__label{
				display: inline;
				font-size: 1.5rem;
				font-weight: bold;
			}

			> li {
				float: left;
				padding-left: 12px;
				position: relative;

				a.u-slide-line::before {
					content: ''
				}

				a.u-slide-line {
					@include navigationFontDesktop();
					background: url("/assets/images/link.svg") 0px 2px white repeat-x;
					background-size: auto 85%;  //Hack für MS Edge, ohne dies ist die Linie gestrichelt
					position: relative;
					display: inline-block;
					overflow: hidden;
					text-decoration: none;
					padding: 0px 0px 7px 0px;
					margin-bottom: 1px;
				}

				a.u-slide-line::after {
					content: "";
					position: absolute;
					bottom: 2px;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $color-nav-desktop-uSlider;
					visibility: hidden;
					transform: translate3d(-100%, 0, 0);
					transition: visibility 0ms linear 350ms, transform 350ms cubic-bezier(.215, .61, .355, 1);
				}

				a.u-slide-line:hover::after {
					visibility: visible;
					transform: translate3d(0%, 0, 0);
					transition: visibility 0ms linear 0ms, transform 350ms cubic-bezier(.215, .61, .355, 1);
				}

				a.u-slide-line.js-isSelected::after {
					visibility: visible;
					transform: translate3d(0%, 0, 0);
				}
			}

			li.main-navi-desktop__kanukurse:hover{

				div.main-navi-desktop-submenu__kurse{
					transition: left 0.3s linear;
					left: 0px;
				}
			}
		}

		.clearfix {
			clear: both;
		}
	}
}
