nav{
	padding-top: 7px;
	background-color: $color-nav-mobile-background;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	#hamburger {
		display: block;
		margin-left: 5px;
		margin-bottom: 6px;

		.hamburger__line-1 rect, .hamburger__line-2 rect, .hamburger__line-3 rect{
			transition: transform 0.3s ease-in-out 1ms;
		}
	}

	#hamburger.js-close-nav-button{
		.hamburger__line-1 rect{
			transform: translateX(9px) translateY(-3px) rotate(45deg);
			transition: transform 0.5s ease-in-out 1ms;
		}

		.hamburger__line-2 rect{
			transform: translateX(-50px);
			transition: transform 0.5s ease-in-out 1ms;
		}

		.hamburger__line-3 rect{
			transform: translateX(-24px) translateY(14px) rotate(-45deg);
			transition: transform 0.5s ease-in-out 1ms;
		}
	}

	ul.main-navi-desktop {
		display: block;
		list-style-type: none;
		width: 100%;
		background-color: rgb(255,255,255);
		position: absolute;
		animation: 1.5s slideIn;

		> li {
			margin-bottom: 2px;
			> a {
				text-decoration: none;
				color: $color-nav-mobile-text;
				background-color: $color-nav-mobile-background-slider;
				padding: 12px 5px;
				display: block;
			}
		}
		> li:last-child{
			margin-bottom: 0px;
		}
	}

	ul.main-navi-desktop.js-hide {
		display: none;
	}
}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) { //wenn Bildschirm grösser 740 px gross ist, dann...

	.nav-wrapper{
		position: sticky;
		top: 0;
		z-index: 10;
	}

	nav {
		background-color: $color-nav-desktop-background;
		padding-bottom: $basicHeight;
		padding-top: 16px;
		padding-left: 500px;
		position: fixed;
		top: 0;
		z-index: 10;

		#hamburger {
			display: none;
		}

		ul.main-navi-desktop, ul.main-navi-desktop.js-hide {
			display: block;
			position: static;

			> li {
				float: left;
				padding-left: 12px;
				position: relative;

				a.u-slide-line {
					@include navigationFontDesktop();
					background: url("/assets/images/link.svg") 0px 2px white repeat-x;
					background-size: auto 85%;  //Hack für MS Edge, ohne dies ist die Linie gestrichelt
					position: relative;
					display: inline-block;
					overflow: hidden;
					text-decoration: none;
					padding: 0px 0px 7px 0px;
					margin-bottom: 1px;
				}

				a.u-slide-line::after {
					content: "";
					position: absolute;
					bottom: 2px;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $color-nav-desktop-uSlider;
					visibility: hidden;
					transform: translate3d(-100%, 0, 0);
					transition: visibility 0ms linear 350ms, transform 350ms cubic-bezier(.215, .61, .355, 1);
				}

				a.u-slide-line:hover::after {
					visibility: visible;
					transform: translate3d(0%, 0, 0);
					transition: visibility 0ms linear 0ms, transform 350ms cubic-bezier(.215, .61, .355, 1);
				}

				a.u-slide-line.js-isSelected::after {
					visibility: visible;
					transform: translate3d(0%, 0, 0);
				}
			}
		}

		.clearfix {
			clear: both;
		}
	}
}
