/* text-container
*  That's the container on the main page which contains text.
*  It's 100% wide.
*


Mobile

---------------- text-container------------------------------
|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|

|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|
-------------------------------------------------------------


Tablet / Desktop

|---------------- text-container------------------------------------|
|                                                                   |
| |---------------- text-container-full-width --------------------| |
| |                                                               | |
| |                                                               | |
| |                                                               | |
| |                                                               | |
| |---------------------------------------------------------------| |
|                                                                   |
|  oder                                                             |
|                                                                   |
| |---------------- text-container-main --------------------------| |
| | |---------------------------------------|-------------------| | |
| | |                                       |                   | | |
| | |      text-container-left  60%         |   filler-right    | | |
| | |                                       |       40%         | | |
| | |      title                            |                   | | |
| | |                                       |                   | | |
| | |      paragraph                        |                   | | |
| | |                                       |                   | | |
| | |---------------------------------------|-------------------| | |
| |---------------------------------------------------------------| |
|                                                                   |
| |---------------- text-container-main---------------------------| |
| | |-----------------|-----------------------------------------| | |
| | |                                      |                    | | |
| | |      filler-left 60%                 |text-container-right| | |
| | |                                      |                    | | |
| | |                                      |        40%         | | |
| | |                                      |                    | | |
| | |                                      |                    | | |
| | |                                      |                    | | |
| |----------------------------------------|--------------------| | |
| |---------------------------------------------------------------| |
|                                                                   |
|  mit oder ohne                                                    |
|                                                                   |
| |---------------- text-container-detail ------------------------| |
| | |-----------------------------------------------------------| | |
| | |                                                           | | |
| | |             open-drawer                                   | | |
| | |                                                           | | |
| | |-----------------------------------------------------------| | |
| | |                                                           | | |
| | |             text-container-drawer                         | | |
| | |                                                           | | |
| | |-----------------------------------------------------------| | |
| |---------------------------------------------------------------| |
|-------------------------------------------------------------------|


-------------------------------------------------------------
*/

.text-container, .text-container__home{
  	display: flex;
  	flex-flow: column nowrap;
	position: relative;

	h1.title{
		font-family: $textContainerTitleFont;
		font-size: $bigTitleSize;
		color: $color-textContainer-titleH1;
		line-height: 2rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	h2.title{
		font-family: $textContainerTitleFont;
		font-size: $titleSize;
		color: $color-textContainer-titleH2;
		line-height: 2rem;
		margin-top: 1rem;
		margin-bottom: 0.75rem;
	}

	h3.title{
		font-family: $textContainerTitleFont;
		font-size: $smallTitleSize;
		color: $color-textContainer-titleH3;
		line-height: 1.5rem;
		padding-top: 1rem;
		margin-bottom: 0.5rem;
	}

	h4.title{
		font-family: $standardTextFont;
		font-size: $smallTitleSize;
		color: $color-textContainer-titleH4;
		line-height: 1.5rem;
		padding-top: 1rem;
		margin-bottom: 0.5rem;
	}

	.paragraph{
		color: $color-textContainer-text;
		font-size: $textSize;
		margin-bottom: 0.5rem;
	}

	a.link-in-text, a.link-in-text--big{
		color: $color-textContainer-link;
	}

	a.link-in-text--big{
		font-size: $smallTitleSize;
	}

	a.link-in-text:hover, a.link-in-text--big:hover{
		color: $color-textContainer-text-hover;
	}
}

.text-container-main, .text-container-main__home {
  background-color: $color-textContainer-background;
  display: flex;
  flex-flow: column nowrap;
  padding: $basicHeight $basicWidth;

  	> .text-container-left, .text-container-left__home{
    	order: 0;
    	width: 100%;
  	}

  	> .text-container-right, .text-container-right__home{
		order: 0;
    	width: 100%;
  	}

  	> .filler, .filler__home{
    	display: block;
    	order: 1;

		&.hide-on-mobile{
			display: none;
		}

    	.filler__picture{
			
			&.hide-on-mobile{
				display: none;
			}

			img {
				max-width: 100%;
				height: auto;
			}
    	}
  	}
}


.text-container-detail, .text-container-full-width{
	background-color: $color-textContainer-background;
	padding-bottom: $basicHeight;
}

.text-container-full-width{
	padding: $basicWidth;
}

.course-list-wrapper{
	background-color: $color-drawer-background-drawer;
	color: $color-drawer-text;
}



//im Mobile den Drawer schneller schliessen, da hier bei den Kanumaterial Preisen ein Teil der Tabelle
//absolute positioniert ist. Das Umschalten der Position sieht man beim Öffnen und Schliessen.
.text-container-drawer{
  	background-color: $color-drawer-background-drawer;
	color: $color-drawer-text;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.1s ease-in-out 1ms;
}

.text-container-drawer.text-container-drawer--course-dates.js-show{
  max-height: 4500px;
  transition: max-height 1s ease-in-out 1ms;
}

.text-container-drawer.text-container-drawer--paddling-trip-details.js-show{
	max-height: 3500px;
	transition: max-height 1s ease-in-out 1ms;
}

//allgemeiner Drawer, verwendet bis her bei den Kanumaterial Preisen
.text-container-drawer.text-container-drawer--details.js-show{
	max-height: 1300px;
	padding-bottom: $basicHeight;
	transition: max-height 0.5s ease-in-out 1ms;
}

.text-container-drawer__content-wrapper{
	padding: 2*$basicHeight 2*$basicWidth;
}

.text-container-drawer__paragraph{
  padding: $basicHeight 2*$basicWidth;
}

//die svg am Anfang und Ende (Wellenlinie und Baum) eines text-containers
img.text-container-fill__top {
	display: none;
}

img.text-container-fill__bottom {
	display: none;
}

//Liste im Detail Drawer
.text-container-drawer__list{
	list-style: none;
}

.text-container-drawer__list-item{
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 0.5*$basicHeight;
}

.text-container-drawer-list__label{
	flex: 1 1 33%;
}

.text-container-drawer-list__label:after{
	content: ':';
}

.text-container-drawer-list__value{
	flex: 3 3 66%;
}

.text-container-drawer-list__value.amount-value::after{
	content: ' CHF';
}


/* *************************************************** */
/* *********** ab hier für tablet *******************  */
@media screen and (min-width: $breakpoint-medium) {   // > 688px

	.text-container__home{
		display: flex;
		flex-flow: column nowrap;
		position: relative;
	}

	.text-container-main__home{
		background-color: $color-textContainer-background;
		display: flex;
		flex-flow: column nowrap;
		padding: $basicHeight $basicWidth;

		.empty-space{
			display: none;
		}

		iframe.philosophieMovie{
			width: 100%;
			height: 350px; 
		}

		> .text-container-left__home{
			order: 0;
			width: 100%;
		}

		> .text-container-right__home{
			order: 0;
			width: 100%;
		}

		> .filler__home{
			display: block;
			order: 1;

			&.hide-on-mobile{
				display: block;
			}

			&.hide-on-tablet{
				display: none;
			}

			.filler__picture{
				width: 100%;

				&.hide-on-mobile{
					display: block;
				}

				&.hide-on-tablet{
					display: none;
				}

				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}


	.text-container-main{
		display: flex;
		flex-flow: row nowrap;
		background-color: $color-textContainer-background;
		padding: 3*$basicHeight 2*$basicWidth;

		> .text-container-left{
		  flex: 0 1 60%;
		  order: 0;
		  padding-right: 2*$basicWidth;
		}
	
		> .text-container-right{
		  flex: 0 1 40%;
		  order: 1;
		  padding-left: 2*$basicWidth;
		}

		> .filler{
			display: block;
			background-color: $color-textContainer-background;

			&.hide-on-mobile{
				display: block;
			}
	
			&.hide-on-tablet{
				display: none;
			}
	
			.filler__picture{
				&.hide-on-mobile{
					display: block;
				}
		
				&.hide-on-tablet{
					display: none;
				}
			}
	
			img{
				max-width: 100%;
				height: auto;
			}
	
			img.width-50{
				max-width: 50%;
			}
		}
	
		> .filler-right{
		  flex: 0 1 40%;
		  order:1;
		}

		> .filler-right.center-filler-right{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
		> .filler-left{
		  flex: 0 1 60%;
		  order: 0;
		}
	
		.filler__fillarea{
		  background-color: $complimentaryColor1;
		  height: 100%;
		  width: 100%;
		}
	  }
	
	
	  .text-container:not(:first-child) {
	
		//text-container mit Detail
		> .text-container-main{
			border-radius: 16px 16px 0px 0px;
	
			> .filler img{
				border-radius: 8px;
			}
		}
	
		//text-container ohne Detail
		> .text-container-main:only-child{
			border-radius: 16px;
		}
	
		> .text-container-detail:last-child {
			border-radius: 0px 0px 16px 16px;
	
			> .text-container-drawer__content-wrapper, .text-container-drawer {
				border-radius: 0px 0px 16px 16px;
			}
		}
	
		//mehrere text-container-main, kein Detail
		> .text-container-main:not(:only-child):first-of-type{
			border-radius: 16px 16px 0px 0px;
			padding: 3*$basicHeight 2*$basicWidth $basicHeight 2*$basicWidth;
		}

		> .text-container-main:not(:only-child){
			border-radius: 0px 0px;
			padding: 2*$basicHeight 2*$basicWidth $basicHeight 2*$basicWidth;
		}
	
		> .text-container-main:not(:only-child):last-of-type {
			border-radius: 0px 0px 16px 16px;
			padding: $basicHeight 2*$basicWidth 3*$basicHeight 2*$basicWidth;
		}
	}
	
	
	.text-container-full-width{
		padding: 0 2*$basicWidth;
	}

	.text-container-full-width:first-of-type{  //z.B. in Sitemap der Fall
		padding: 2*$basicWidth;
	}

	//auf der Desktop Version muss der Drawer nicht so schnell geschlossen werden.
	.text-container-drawer{
		transition: max-height 0.5s ease-in-out 1ms;
	}

	.text-container-detail{
		padding-bottom: 0px;
	}

	.text-container-drawer__paragraph{
		padding: $basicHeight 2*$basicWidth;
	}

	.text-container-drawer-list__label{
		flex: 1 1 25%;
	}

	.text-container-drawer-list__value{
		flex: 3 3 75%;
	}

	//alle gridx12 Klassen in den Paddelreisen Details, aber nicht die, die im paddleJourneyItem sind (also aus der DB kommen).
	.text-container-drawer--paddling-trip-details {
		.text-container-drawer__content-wrapper  {
			> .gridx12 {
				margin: 2*$basicWidth 2*$basicWidth;
			}
		}
	} 
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {   // > 992px


	.text-container-main__home{
		display: flex;
		flex-flow: row nowrap;
		background-color: $color-textContainer-background;
		padding: 3*$basicHeight 2*$basicWidth;

		iframe.philosophieMovie{
			width: 100%;
			height: 100%; 
		}

		.empty-space{
			display: block;
			height: 150px;
		}

		> .text-container-left__home{
			flex: 0 1 60%;
			order: 0;
			padding-right: 2*$basicWidth;
		}

		> .text-container-right__home{
			flex: 0 1 40%;
			order: 1;
			padding-left: 2*$basicWidth;
		}

		> .filler__home{
		
			.filler__picture{
				&.hide-on-mobile{
					display: block;
				}
		
				&.hide-on-tablet{
					display: block;
				}
			}

			.filler__picture.logo_desktop{
				img {
					max-width: 80%;
					height: auto;
				}
			}
		}

		> .filler-left__home{
			flex: 0 1 60%;
			order: 0;
		  }
	
		> .filler-right__home{
		  flex: 0 1 40%;
		  order: 1;
		}
	}


  	.text-container-main{
		display: flex;
		flex-flow: row nowrap;
		background-color: $color-textContainer-background;
		padding: 3*$basicHeight 2*$basicWidth;

		> .text-container-left{
		flex: 0 1 60%;
		}

		> .text-container-right{
		flex: 0 1 40%;
		}
		
		> .filler{
			&.hide-on-mobile{
				display: block;
			}

			&.hide-on-tablet{
				display: block;
			}
			
			.filler__picture{
				&.hide-on-mobile{
					display: block;
				}
		
				&.hide-on-tablet{
					display: block;
				}
			}
		}

		> .filler-right{
		flex: 0 1 40%;
		}

		> .filler-right.center-filler-right{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		> .filler-left{
		flex: 0 1 60%;
		}
	}

	//alle gridx12 Klassen in den Paddelreisen Details, aber nicht die, die im paddleJourneyItem sind (also aus der DB kommen).
	.text-container-drawer--paddling-trip-details {
		.text-container-drawer__content-wrapper  {
			> .gridx12 {
				margin: 2*$basicWidth 0;
			}
		}
	}
}
