/* text-container
*  That's the container on the main page which contains text.
*  It's 100% wide.
*


Mobile

---------------- text-container------------------------------
|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|

|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|
-------------------------------------------------------------


Desktop

|---------------- text-container------------------------------------|
|                                                                   |
| |---------------- text-container-main --------------------------| |
| | |---------------------------------------|-------------------| | |
| | |                                       |                   | | |
| | |      text-container-left  62%         |   filler-right    | | |
| | |                                       |       38%         | | |
| | |      title                            |                   | | |
| | |                                       |                   | | |
| | |      paragraph                        |                   | | |
| | |                                       |                   | | |
| | |---------------------------------------|-------------------| | |
| |---------------------------------------------------------------| |
|                                                                 | |
| |---------------- text-container-detail ------------------------| |
| | |-----------------------------------------------------------| | |
| | |                                                           | | |
| | |             open-drawer                                   | | |
| | |                                                           | | |
| | |-----------------------------------------------------------| | |
| | |                                                           | | |
| | |             text-container-drawer                         | | |
| | |                                                           | | |
| | |-----------------------------------------------------------| | |
| |---------------------------------------------------------------| |
|-------------------------------------------------------------------|

---------------- text-container------------------------------
|-----------------|-----------------------------------------|
|                 |                                         |
|   filler-left   |            text-container-right         |
|                 |      title                              |
|                 |                                         |
|                 |      paragraph                          |
|                 |                                         |
|-----------------|-----------------------------------------|
-------------------------------------------------------------
*/

.text-container{
  display: flex;
  flex-flow: column nowrap;
	position: relative;
}

.text-container-main{
  background-color: $color-textContainer-background;
  display: flex;
  flex-flow: column nowrap;
  padding: $basicHeight $basicWidth;


  	> .text-container-left{
    	order: 0;
    	width: 100%;
  	}

  	> .text-container-right{
		order: 0;
    	width: 100%;
  	}

  	> .filler{
    	display: block;
    	order: 1;

		&.hide-on-mobile{
			display: none;
		}

    	.filler__picture__img{
      		width: 100%;
    	}
  	}

	h2.title{
		font-family: $textContainerTitleFont;
		font-size: $titleSize;
		color: $color-textContainer-titleH2;
		line-height: 2rem;
		margin-top: 1rem;
		margin-bottom: 0.75rem;
	}

	h3.title{
		font-family: $textContainerTitleFont;
		font-size: $smallTitleSize;
		color: $color-textContainer-titleH3;
		line-height: 1.5rem;
		padding-top: 1rem;
		margin-bottom: 0.5rem;
	}

	h4.title{
		font-family: $standardTextFont;
		font-size: $smallTitleSize;
		color: $color-textContainer-titleH4;
		line-height: 1.5rem;
		padding-top: 1rem;
		margin-bottom: 0.5rem;
	}

	.paragraph{
		color: $color-textContainer-text;
		font-size: $textSize;
		margin-bottom: 0.5rem;
	}

	a{
		color: $color-textContainer-link;
	}

	a:hover{
		color: $color-textContainer-text-hover;
	}
}


.text-container-detail{
	background-color: $color-textContainer-background;
	padding-bottom: $basicHeight;
}

//im Mobile den Drawer schneller schliessen, da hier bei den Kanumaterial Preisen ein Teil der Tabelle
//absolute positioniert ist. Das Umschalten der Position sieht man beim Öffnen und Schliessen.
.text-container-drawer{
  	background-color: $color-drawer-background-drawer;
	color: $color-drawer-text;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.1s ease-in-out 1ms;
}

.text-container-drawer.text-container-drawer--course-dates.js-show{
  max-height: 1500px;
  transition: max-height 1s ease-in-out 1ms;
}

.text-container-drawer.text-container-drawer--paddling-trip-details.js-show{
	max-height: 1200px;
	transition: max-height 1s ease-in-out 1ms;
}

//allgemeiner Drawer, verwendet bis her bei den Kanumaterial Preisen
.text-container-drawer.text-container-drawer--details.js-show{
	max-height: 1300px;
	padding-bottom: $basicHeight;
	transition: max-height 0.5s ease-in-out 1ms;
}

.text-container-drawer__content-wrapper{
	padding: 2*$basicHeight 2*$basicWidth;
}

.text-container-drawer__paragraph{
  padding: $basicHeight 2*$basicWidth;
}

//die svg am Anfang und Ende (Wellenlinie und Baum) eines text-containers
img.text-container-fill__top {
	display: none;
}

img.text-container-fill__bottom {
	display: none;
}

//Liste im Detail Drawer
.text-container-drawer__list{
	list-style: none;
}

.text-container-drawer__list-item{
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 0.5*$basicHeight;
}

.text-container-drawer-list__label{
	flex: 1 1 33%;
}

.text-container-drawer-list__label:after{
	content: ':';
}

.text-container-drawer-list__value{
	flex: 3 3 66%;
}

/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {

  .text-container-main{
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-textContainer-background;
    padding: 3*$basicHeight 2*$basicWidth;

    > .text-container-left{
      flex: 0 1 60%;
      order: 0;
      padding-right: 2*$basicWidth;
    }

    > .text-container-right{
      flex: 0 1 40%;
      order: 1;
      padding-left: 2*$basicWidth;
    }

    > .filler{
      	display: block;
      	background-color: $color-textContainer-background;

		&.hide-on-mobile{
			display: block;
		}

      	img{
        	max-width: 100%;
        	height: auto;
      	}
    }

    > .filler-right{
      flex: 0 1 40%;
      order:1;
    }

    > .filler-left{
      flex: 0 1 60%;
      order: 0;
    }

    .filler__fillarea{
      background-color: $complimentaryColor1;
      height: 100%;
      width: 100%;
    }
  }

	//auf der Desktop Version muss der Drawer nicht so schnell geschlossen werden.
	.text-container-drawer{
		transition: max-height 0.5s ease-in-out 1ms;
	}

	.text-container-detail{
		padding-bottom: 0px;
	}

	.text-container-drawer__content-wrapper{
		padding: 2*$basicHeight 0px;
	}

  	.text-container-drawer__paragraph{
    	padding: $basicHeight 2*$basicWidth;
  	}


	.text-container-drawer-list__label{
		flex: 1 1 25%;
	}

	.text-container-drawer-list__value{
		flex: 3 3 75%;
	}


	//die svg am Anfang und Ende (Wellenlinie und Baum) eines text-containers
	img.text-container-fill__top {
		display: block;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100px;
		z-index: 2;
	}

	img.text-container-fill__bottom {
		display: block;
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 200px;
		z-index: 2;
	}


}
