/* text-container
*  That's the container on the main page which contains text.
*  It's 100% wide.
*


Mobile

---------------- text-container------------------------------
|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|

|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|
-------------------------------------------------------------


Desktop

|---------------- text-container------------------------------------|
|                                                                   |
| |---------------- text-container-main --------------------------| |
| | |---------------------------------------|-------------------| | |
| | |                                       |                   | | |
| | |      text-container-left  62%         |   filler-right    | | |
| | |                                       |       38%         | | |
| | |      title                            |                   | | |
| | |                                       |                   | | |
| | |      paragraph                        |                   | | |
| | |                                       |                   | | |
| | |---------------------------------------|-------------------| | |
| |---------------------------------------------------------------| |
|                                                                 | |
| |---------------- text-container-detail ------------------------| |
| | |-----------------------------------------------------------| | |
| | |                                                           | | |
| | |             open-drawer                                   | | |
| | |                                                           | | |
| | |-----------------------------------------------------------| | |
| | |                                                           | | |
| | |             text-container-drawer                         | | |
| | |                                                           | | |
| | |-----------------------------------------------------------| | |
| |---------------------------------------------------------------| |
|-------------------------------------------------------------------|

---------------- text-container------------------------------
|-----------------|-----------------------------------------|
|                 |                                         |
|   filler-left   |            text-container-right         |
|                 |      title                              |
|                 |                                         |
|                 |      paragraph                          |
|                 |                                         |
|-----------------|-----------------------------------------|
-------------------------------------------------------------
*/

.text-container{
  display: flex;
  flex-flow: column nowrap;
}

.text-container-main{
  background-color: $color-textContainer-background;
  display: flex;
  flex-flow: column nowrap;
  padding: $basicHeight $basicWidth;


  > .text-container-left{
    order: 0;
    width: 100%;
  }

  > .text-container-right{
    order: 0;
    width: 100%;
  }

  > .filler{
    display: block;
    order: 1;

    .filler__picture__img{
      width: 100%;
    }
  }



  h2.title{
    font-family: $textContainerTitleFont;
    font-size: $titleSize;
    color: $color-textContainer-titleH2;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  h3.title{
    font-family: $textContainerTitleFont;
    font-size: $smallTitleSize;
    color: $color-textContainer-titleH3;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

   .paragraph{
    color: $color-textContainer-text;
    font-size: $textSize;
    margin-bottom: 0.5rem;
  }
}

.text-container-drawer{
  	background-color: $color-drawer-background-drawer;
	color: $color-drawer-text;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.5s ease-in-out 1ms;
}

.text-container-drawer.js-show{
  max-height: 1000px;
  transition: max-height 1s ease-in-out 1ms;
}

.text-container-drawer__paragraph{
  padding: $basicHeight $basicWidth;
}

.text-container-detail{
  background-color: $color-textContainer-background;
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {

  .text-container-main{
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-textContainer-background;
    padding: $basicHeight 2*$basicWidth;

    > .text-container-left{
      flex: 0 1 62%;
      order: 0;
      padding-right: 2*$basicWidth;
    }

    > .text-container-right{
      flex: 0 1 38%;
      order: 1;
      padding-left: 2*$basicWidth;
    }

    > .filler{
      display: block;
      background-color: $color-textContainer-background;

      img{
        max-width: 100%;
        height: auto;
      }
    }

    > .filler-right{
      flex: 0 1 38%;
      order:1;
    }

    > .filler-left{
      flex: 0 1 62%;
      order: 0;
    }

    .filler__fillarea{
      background-color: $complimentaryColor1;
      height: 100%;
      width: 100%;
    }
  }


  .text-container-drawer__paragraph{
    padding: $basicHeight 2*$basicWidth;
  }


}
