<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/images/favicon-96x96.png" sizes="96x96">

	<meta name="description" content="Freudvoll paddeln lernen. Im Kajakkurs oder Kanadierkurs auf unseren Paddelreisen oder beim Guiding deiner persönlichen Paddeltour." />
	<meta name="keywords" content="Kanuschule Kajakkurse Kanadierkurse Paddelreisen Abenteuerpaddelreisen Genusspaddelreisen Eskimotieren" />
	<title>Kanuschule - The Joy Of Whitewater - Kanukurse, Paddelreisen, Guiding</title>
</head>
