<header>
	<picture id="mobile">
		<source srcset="assets/images/mobile_quer_karoline_costarica.jpg" media="(min-width: 440px)">
		<img src="assets/images/mobile_karoline_costarica.jpg"  alt="Kajak" title="Kajak">
	</picture>

	<svg class="header-fill__top" xmlns="http://www.w3.org/2000/svg"
		 viewBox="0 0 200 200"
		 preserveAspectRatio="none">
		<path fill="white"
			  stroke="none"
			  d="M0,0 L0,50 C50,80 60,70 90,40 C140,0 160,60 200,0z" />
	</svg>

	<div class="images-carousel">
		<div class="containerForTitle">
			<h1>THE JOY <br>OF WHITEWATER</h1>
		</div>
		<ul class="images">
			<!--
			Die Bilderliste wird von javascript gerendert. (renderHeader.js)
			>-->
		</ul>
	</div>

	<svg class="header-fill__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon fill="white" points="0,100 100,100 100,50" />
	</svg>
</header>
