<header>
	<img class="mobile-header-logo" src="assets/images/Logo_JoyOfWhitewaterMitWelle_weiss.svg"  alt="The Joy of Whitewater Logo" title="Kanuschule und Wildwasser Reisen">

	<picture class="mobile-header-picture">
		<!--
			Das Bild in der Mobile Ansicht wird von javascript gerendert. (renderHeader.js)
			Das source und img Element braucht es nur, damit der w3.org Validator keinen Fehler wirft
			Das source und img Element wird gerendert.
		-->
		<source srcset="/" media="(min-width: 440px)">
		<img src="/" alt="neverShown" title="neverShown">
	</picture>

	<svg class="header-fill__top" xmlns="http://www.w3.org/2000/svg"
		 viewBox="0 0 200 100"
		 preserveAspectRatio="none">
		<path fill="white"
			  stroke="none"
			  d="M0,0 L0,27 C50,57 54.8112793,44 90,17 C145.133545,-13.4899597 145.133545,20.5 200,0 L0,0 Z" />
	</svg>

	<div class="images-carousel">
		<div class="containerForTitle">
			<h1></h1>
		</div>
		<ul class="images">
			<li class="image topImage"></li>
			<!--
			Die Bilderliste wird von javascript gerendert. (renderHeader.js)
			>-->
		</ul>
	</div>

	<div class="info-nav">
		<button class="info-nav-button">
			Info
		</button>
		<div class="info-nav-wrapper">
			<ul>
				<li>
					<a href="#"><span>Anmeldung</span></a>
				</li>
				<li>
					<a href="#"><span>Kontakt</span></a>
				</li>
				<li>
					<a href="#"><span>Partner</span></a>
				</li>
				<li>
					<a href="#"><span>Kanu?</span></a>
				</li>
				<li>
					<a href="#"><span>Kursstufen</span></a>
				</li>
				<li>
					<a href="#"><span>Sicherheit</span></a>
				</li>
				<li>
					<a href="/termine.html"><span>Termine</span></a>
				</li>
				<li>
					<a href="#"><span>Preise</span></a>
				</li>
				<li>
					<a href="#"><span>AGB</span></a>
				</li>
			</ul>
		</div>
	</div>

	<a 	class="course-date-overview" 
		title="Alle Kanukurse und Kanureisen in der Übersicht"
		href="/termine.html">
		Termine
	</a>

	<svg class="header-fill__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon fill="white" points="0,100 100,100 100,50" />
	</svg>
</header>
