						<!-- ACHTUNG! Änderungen nur in templates/imageCarousel.html machen.  -->
						<div class="image-slider-wrapper">
							<div class="image-slider">
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_1_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_1_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_2_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_2_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_3_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_3_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_4_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_4_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_5_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_5_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_6_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_6_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_7_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_7_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_8_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_8_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_9_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_9_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_10_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_10_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
								<div class="image-slider--item">
									<picture>
										<source srcset="/assets/images/slider/korsika_11_gr.jpg" media="(min-width: 376px)">
										<img class="slider--item__img" src="/assets/images/slider/korsika_11_kl.jpg" alt="Festival Lovers" title="Festival Lovers">
									</picture>
								</div>
							</div>

						</div>
