<div class="nav-wrapper">
	<div class="gridx3">
		<div class="gridx3__width1--col1of3">
		</div>

		<div class="gridx3__width1--col2of3">
			<div class="nav-flex-wrapper">

				<nav>
					<svg id="hamburger" xmlns="http://www.w3.org/2000/svg" width="50px" height="48px" version="1.1">
						<g class="hamburger__line-1">
							<rect x="0" y="5" width="50px" height="8px" rx="2" ry="2" fill="#0B3CB2"/>
						</g>
						<g class="hamburger__line-2">
							<rect x="0" y="19" width="50px" height="8px" rx="2" ry="2" fill="#0B3CB2"/>
						</g>
						<g class="hamburger__line-3">
							<rect x="0" y="33" width="50px" height="8px" rx="2" ry="2" fill="#0B3CB2"/>
						</g>
					</svg>
	
					<ul class="main-navi-desktop clearfix js-hide">
						<li class="main-navi-desktop__kanukurse"><a class="u-slide-line" 
																	title="Alle Infos über unsere Kajakkurse und Kanadierkurse"
																	href="/kanukurse.html">Kanukurse</a></li>
																	
						<li class="main-navi-desktop__paddelreisen"><a 	class="u-slide-line" 
																		title="Alle Infos über unsere Kanureisen"
																		href="/paddelreisen.html">Paddelreisen</a></li>
	
						<li class="main-navi-desktop__packraft"><a 	class="u-slide-line" 
																	title="Alle Infos über unsere Packraft Kurse und Touren"
																	href="/packraft.html">Packraft</a></li>
	
						<li class="main-navi-desktop__joyOfWhitewater"><a 	class="u-slide-line"
																			title="Allgemeine Infos über die Kanuschule und das Kanufahren"
																			  href="/">Joy of Whitewater</a></li>
					</ul>
				</nav>

			</div>
			
		</div>
		<div class="gridx3__width1--col3of3">
		</div>
	</div>
</div>
