<div class="nav-wrapper">
	<div class="gridx3">
		<div class="gridx3__width1--col1of3">
		</div>

		<div class="gridx3__width1--col2of3">
			<div class="nav-flex-wrapper">
				<div class="hamburger-wrapper">
					<svg id="hamburger" xmlns="http://www.w3.org/2000/svg" width="50px" height="48px" version="1.1">
						<g class="hamburger__line-1">
							<rect x="0" y="5" width="50px" height="8px" rx="2" ry="2" fill="#004570"/>
						</g>
						<g class="hamburger__line-2">
							<rect x="0" y="19" width="50px" height="8px" rx="2" ry="2" fill="#004570"/>
						</g>
						<g class="hamburger__line-3">
							<rect x="0" y="33" width="50px" height="8px" rx="2" ry="2" fill="#004570"/>
						</g>
					</svg>
				</div>
			
				<nav>
					<ul class="main-navi-desktop clearfix js-hide">
						<li class="main-navi-desktop__label">Wildwasser -</li>
						<li class="main-navi-desktop__kanukurse">
							<a class="u-slide-line" 
							title="Alle Infos über unsere Wildwasserkurse"
							href="#">Kurse</a>

							<div class="main-navi-desktop-submenu-frame">
								<div class="main-navi-desktop-submenu__kurse">
									<a class="submenu-row1-column1" 
									title="Alle Infos über unsere Kajakkurse"
									href="/kajakkurse.html">
										<div class="submenu-content">
											<div class="submenu-content-image">
												<!-- <img src="assets/images/navigation/kajak.webp" alt="Kajakkurs" title="Kajakkurs"> -->
												<picture>
													<source srcset="assets/images/navigation/kajak.webp" media="(min-width: 668px)">
													<img
														src="assets/images/navigation/kajak_kl.webp"  
														alt="Kajakkurs" 
														title="Kajakkurs">
												</picture>
											</div>
											<span class="submenu-content-label">Kajak</span>
										</div>
									</a>
									<a class="submenu-row1-column2"
										title="Alle Infos über unsere Kanu-, Kanadierkurse"
										href="/kanadierkurse.html">
										<div class="submenu-content">
											<div class="submenu-content-image">
												<!-- <img src="assets/images/navigation/kanadier.webp" alt="Kanadierkurs" title="Kanadierkurs"> -->
												<picture>
													<source srcset="assets/images/navigation/kanadier.webp" media="(min-width: 668px)">
													<img
														src="assets/images/navigation/kanadier_kl.webp"  
														alt="Kanadierkurs" 
														title="Kanadierkurs">
												</picture>
											</div>
											<span class="submenu-content-label">Kanadier</span>
										</div>
									</a>
									<a class="submenu-row2-column1"
										title="Alle Infos über unsere Packraftkurse"
										href="/packraftkurse.html">
										<div class="submenu-content">
											<div class="submenu-content-image">
												<!-- <img src="assets/images/navigation/packraft.webp" alt="Packraftkurs" title="Packraftkurs"> -->
												<picture>
													<source srcset="assets/images/navigation/packraft.webp" media="(min-width: 668px)">
													<img
														src="assets/images/navigation/packraft_kl.webp"  
														alt="Packraftkurs" 
														title="Packraftkurs">
												</picture>
											</div>
											<span class="submenu-content-label">Packraft</span>
										</div>
									</a>
									<a class="submenu-row2-column2"	
										title="Alle Infos über unsere Specials"
										href="/specials.html">
										<div class="submenu-content">
											<div class="submenu-content-image">
												<!-- <img src="assets/images/navigation/specials.webp" alt="Eskimotieren, Rettung, Retreats..." title="Eskimotieren, Rettung, Retreats..."> -->
												<picture>
													<source srcset="assets/images/navigation/specials.webp" media="(min-width: 668px)">
													<img
														src="assets/images/navigation/specials_kl.webp"  
														alt="Eskimotieren, Rettung, Retreats..." 
														title="Eskimotieren, Rettung, Retreats...">
												</picture>
											</div>
											<span class="submenu-content-label">Specials</span>
										</div>
									</a>
								</div>
							</div>
						</li>
				
						<li class="main-navi-desktop__paddelreisen">
							<a 	class="u-slide-line" 
							title="Alle Infos über unsere Kanureisen"
							href="/paddelreisen.html">Reisen</a>
						</li>
						<li class="main-navi-desktop__packraft">
							<a 	class="u-slide-line" 
							title="Alle Infos über unsere Wildwasserausflüge"
							href="/ausfluege.html">Ausflüge</a>
						</li>
						<li class="main-navi-desktop__joyOfWhitewater">
							<a 	class="u-slide-line"
							title="Allgemeine Infos über die Kanuschule und das Kanufahren"
							href="/">Joy of Whitewater</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="gridx3__width1--col3of3">
		</div>
	</div>

	<div class="gridx3">
		<div class="gridx3__width1-height0--col1of3">
		</div>

		<div class="gridx3__width1-height0--col2of3">
				<div class="info-nav-parent">
					<div class="info-nav">
						<button class="info-nav-button">
							Info
						</button>
						<div class="info-nav-wrapper">
							<ul>
								<li>
									<a href="http://eepurl.com/hMQ7j9" tabindex="-1" target="_blank"><span>Newsletter</span></a>
								</li>
								<li>
									<a href="/kontakt.html" tabindex="-1"><span>Kontakt</span></a>
								</li>
								<li>
									<a href="/partner.html" tabindex="-1"><span>Partner</span></a>
								</li>
								<li>
									<a href="/kanu.html" tabindex="-1"><span>Kanu?</span></a>
								</li>
								<li>
									<a href="/kursstufen.html" tabindex="-1"><span>Kursstufen</span></a>
								</li>
								<li>
									<a href="/sicherheit.html" tabindex="-1"><span>Sicherheit</span></a>
								</li>
								<li>
									<a href="/termine.html" tabindex="-1"><span>Termine</span></a>
								</li>
								<li>
									<a href="/preise.html" tabindex="-1"><span>Preise</span></a>
								</li>
								<li>
									<a href="/kanukursanmeldung.html" tabindex="-1"><span>Anmeldung</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		</div>
		
		<div class="gridx3__width1-height0--col3of3">
		</div>
	</div>
</div>
