<nav>
    <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" width="50px" height="48px" version="1.1">
        <g class="hamburger__line-1">
            <rect x="0" y="5" width="50px" height="8px" rx="2" ry="2" fill="#0B3CB2"/>
        </g>
        <g class="hamburger__line-2">
            <rect x="0" y="19" width="50px" height="8px" rx="2" ry="2" fill="#0B3CB2"/>
        </g>
        <g class="hamburger__line-3">
            <rect x="0" y="33" width="50px" height="8px" rx="2" ry="2" fill="#0B3CB2"/>
        </g>
    </svg>
    <ul id="mainNavi" class="hide">
        <li><a class="u-slide-line" href="kanukurse.html">Kanukurse</a></li>
        <li><a class="u-slide-line" href="paddelreisen.html">Abenteuer-/Genusspaddeln</a></li>
        <li><a class="u-slide-line" href="/">Joy of Whitewater</a></li>
    </ul>

    <div class="clearfix"></div>
</nav>
