.general-button{
	@include primaryButtonFont();
	border: 1px solid #ffffff;
	display: block;
	line-height: 6*$basicHeight;
	padding: 0 3*$basicWidth;
	text-decoration: none;
}

.general-button--primary{
	background-color: #ffffff;
	color: #000000;
}

/* *************************************************************************************/
/*                                ab hier nur für desktop                              */
/* *************************************************************************************/
@media screen and (min-width: $breakpoint-large) { //wenn Bildschirm grösser ist als, dann...
	.general-button {
		display: inline-block;
	}

	.general-button--primary:hover, .general-button--primary-payment-confirmation:hover {
		background-color: #2c2c2c;
		border: 1px solid #2c2c2c;
		color: #ffffff;
	}
}
