.link-button{
	background-color: $color-drawer-buttonToOpenDrawer;
	bottom: 0;
	margin-top: 0.5*$basicHeight;
}

.link-button:active{
    transform: scale(0.98);
}

.link-button--mail{
	@extend .link-button;
	margin: 2*$basicHeight 0;
}

.link-button-wrapper{
	color: $color-drawer-buttonToOpenDrawerText;
	box-shadow: 0 11px 10px -8px black;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: $basicHeight 0px;
	text-decoration: none;
	align-items: baseline;
}

.link-button-wrapper--mail{
	@extend .link-button-wrapper;
	align-items: center;
}

.link-button-wrapper__label{
	pointer-events: none;
}

.link-button-wrapper__icon{
	border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText;
	border-right: 2px solid $color-drawer-buttonToOpenDrawerText;
	height: 12px;
	margin-left: 12px;
	pointer-events: none;
	transform: rotate(-45 + deg);
	width: 12px;
}

.link-button-wrapper__icon--mail{
	background-image: url("/assets/images/icon/mail.svg");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 12px;
	height: 20px;
	width: 30px;
}



/* *************************************************** */
/* *********** ab hier für tablet ******************* */
@media screen and (min-width: $breakpoint-medium) {   // > 688px

	.link-button{
		border: 1px solid $complimentaryColor1;
		border-radius: $basicHeight;
	}

	.link-button--mail{
		margin: 2*$basicHeight 0 0 0;
	}

}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {   // > 992px

	.link-button:hover{
		background-color: $color-drawer-buttonToOpenDrawer-hover;
		border: 1px solid $color-drawer-buttonToOpenDrawer;

		.link-button-wrapper{
			color: $color-drawer-buttonToOpenDrawerText-hover;

			.link-button-wrapper__icon{
				border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
				border-right: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
			}
		}

		.link-button-wrapper--mail{
			color: $color-drawer-buttonToOpenDrawerText-hover;

			.link-button-wrapper__icon--mail{
				background-image: url("/assets/images/icon/mail_hover.svg");
				background-repeat: no-repeat;
				background-position: center;
				margin-left: 12px;
				height: 20px;
				width: 30px;		
			}
		}
	}
}
