.open-drawer{
  	background-color: $color-drawer-buttonToOpenDrawer;
  	bottom: 0;
}

a.open-drawer-wrapper{
  	align-items: baseline;
  	color: $color-drawer-buttonToOpenDrawerText;
  	display: flex;
  	flex-flow: row nowrap;
	justify-content: center;
	padding: $basicHeight 0px;
  	text-decoration: none;
}

.open-drawer-wrapper__label{
	pointer-events: none;
}

.open-drawer-wrapper__icon{
  border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText;
  border-right: 2px solid $color-drawer-buttonToOpenDrawerText;
  height: 12px;
  margin-left: 12px;
	pointer-events: none;
  transform: rotate(45 + deg);
  transition: transform 0.2s ease-in-out;
  width: 12px;
}

.open-drawer-wrapper__icon.js-show{
  align-self: flex-end;
  transform: rotate(-135 + deg);
}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) { //wenn Bildschirm grösser ist als, dann...


	.open-drawer{
		border: 1px solid $complimentaryColor4;
	  	border-radius: $basicHeight;
		margin: $basicWidth 2*$basicHeight;
		width: 30%;
  	}

	.open-drawer:hover{
		background-color: $color-drawer-buttonToOpenDrawer-hover;

		.open-drawer-wrapper{
			color: $color-drawer-buttonToOpenDrawerText-hover;

			.open-drawer-wrapper__icon{
				border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
				border-right: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
			}
		}
	}
}
