.open-drawer{
  	background-color: $color-drawer-buttonToOpenDrawer;
  	bottom: 0;
}

.open-drawer:active{
    transform: scale(0.98);
}

a.open-drawer-wrapper, .open-close-faq-button{
  	align-items: baseline;
  	color: $color-drawer-buttonToOpenDrawerText;
  	display: flex;
  	flex-flow: row nowrap;
	justify-content: center;
	padding: $basicHeight 0px;
  	text-decoration: none;
}

.open-drawer-wrapper__label, .open-close-faq-button__label{
	pointer-events: none;
}

.open-drawer-wrapper__icon, .open-close-faq-button__icon{
	border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText;
  	border-right: 2px solid $color-drawer-buttonToOpenDrawerText;
  	height: 12px;
  	margin-left: 12px;
	pointer-events: none;
  	transform: rotate(45 + deg);
  	transition: transform 0.2s ease-in-out;
  	width: 12px;
}

.open-close-faq-button__icon{
	border-bottom: 2px solid $color-drawer-text;
	border-right: 2px solid $color-drawer-text;
}

.open-drawer-wrapper__icon.js-show, .open-close-faq-button__icon.js-show{
	border-bottom: 2px solid $color-drawer-buttonToOpenDrawer-hover;
	border-right: 2px solid $color-drawer-buttonToOpenDrawer-hover;
  	align-self: flex-end;
  	transform: rotate(-135 + deg);
}

// .faq-item:last-of-type{
// 	.faq-item-question{
// 		border-bottom: 1px black solid;
// 	}
// }

.faq-item-question{
	padding: $basicHeight 0 $basicHeight $basicWidth;
	border-top: 1px black solid;
}

.open-close-faq-button{
	color: $color-drawer-text;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
}

.faq-item-answer{
	max-height: 0;
	overflow: hidden;
	padding:  0 $basicWidth 0 2*$basicWidth;
	transition: max-height 0.1s ease-in-out 1ms;
	
}

.faq-item-answer.js-show{
	max-height: 2000px;
	padding: 0 $basicWidth $basicHeight 2*$basicWidth;
	transition: max-height 1s ease-in-out 1ms;
}



/* *************************************************** */
/* *********** ab hier für tablet ******************* */
@media screen and (min-width: $breakpoint-medium) {   // > 688px

	.open-drawer{
		border: 1px solid $complimentaryColor1;
	  	border-radius: $basicHeight;
		margin: $basicHeight 2*$basicWidth;
		width: 55%;
  	}

	.text-container-full-width .open-drawer{
		margin: $basicHeight 0;
	}

}

/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) { // > 992px


	.open-drawer{
		width: 30%;
  	}

	.open-drawer:hover{
		background-color: $color-drawer-buttonToOpenDrawer-hover;
		border: 1px solid $complimentaryColor2;

		.open-drawer-wrapper{
			color: $color-drawer-buttonToOpenDrawerText-hover;

			.open-drawer-wrapper__icon{
				border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
				border-right: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
			}
		}
	}


	.open-close-faq-button:hover{

		.open-close-faq-button__label{
			color: $color-drawer-buttonToOpenDrawer-hover;
		}

		.open-close-faq-button__icon{
			border-bottom: 2px solid $color-drawer-buttonToOpenDrawer-hover;
			border-right: 2px solid $color-drawer-buttonToOpenDrawer-hover;
		}
	}

	.faq-item-answer.js-show{
		max-height: 1500px;
	}
}
