.open-drawer{
  	background-color: $color-drawer-buttonToOpenDrawer;
  	bottom: 0;
}

.open-drawer:active{
    transform: scale(0.98);
}

a.open-drawer-wrapper{
  	align-items: baseline;
  	color: $color-drawer-buttonToOpenDrawerText;
  	display: flex;
  	flex-flow: row nowrap;
	justify-content: center;
	padding: $basicHeight 0px;
  	text-decoration: none;
}

.open-drawer-wrapper__label{
	pointer-events: none;
}

.open-drawer-wrapper__icon{
  border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText;
  border-right: 2px solid $color-drawer-buttonToOpenDrawerText;
  height: 12px;
  margin-left: 12px;
	pointer-events: none;
  transform: rotate(45 + deg);
  transition: transform 0.2s ease-in-out;
  width: 12px;
}

.open-drawer-wrapper__icon.js-show{
  align-self: flex-end;
  transform: rotate(-135 + deg);
}



/* *************************************************** */
/* *********** ab hier für tablet ******************* */
@media screen and (min-width: $breakpoint-medium) {   // > 688px

	.open-drawer{
		border: 1px solid $complimentaryColor1;
	  	border-radius: $basicHeight;
		margin: $basicHeight 2*$basicWidth;
		width: 55%;
  	}

	.text-container-full-width .open-drawer{
		margin: $basicHeight 0;
	}

}

/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) { // > 992px


	.open-drawer{
		width: 30%;
  	}

	.open-drawer:hover{
		background-color: $color-drawer-buttonToOpenDrawer-hover;
		border: 1px solid $complimentaryColor2;

		.open-drawer-wrapper{
			color: $color-drawer-buttonToOpenDrawerText-hover;

			.open-drawer-wrapper__icon{
				border-bottom: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
				border-right: 2px solid $color-drawer-buttonToOpenDrawerText-hover;
			}
		}
	}
}
