/* text-container
*  That's the container on the main page which contains text.
*  It's 100% wide.
*


Mobile

---------------- text-container------------------------------
|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|

|-----------------------------------------------------------|
|                                                           |
|   title                                                   |
|                                                           |
|   paragraph                                               |
|                                                           |
|-----------------------------------------------------------|
-------------------------------------------------------------


Desktop

---------------- text-container------------------------------
|---------------------------------------|-------------------|
|                                       |                   |
|       text-container-left  62%        |   filler-right    |
|                                       |       38%         |
|   title                               |                   |
|                                       |                   |
|   paragraph                           |                   |
|                                       |                   |
|---------------------------------------|-------------------|
-------------------------------------------------------------

---------------- text-container------------------------------
|-----------------|-----------------------------------------|
|                 |                                         |
|   filler-left   |            text-container-right         |
|                 |      title                              |
|                 |                                         |
|                 |      paragraph                          |
|                 |                                         |
|-----------------|-----------------------------------------|
-------------------------------------------------------------
*/

.text-container{
  padding: 10px;
  background-color: $textBackground;


  > .text-container-left{
    width: 100%;
  }

  > .text-container-right{
    width: 100%;
  }

  > .filler{
    display: none;
  }



  h2.title{
    font-family: $textContainerTitleFont;
    font-size: $titleSize;
    color: $textTitle;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  h3.title{
    font-family: $textContainerTitleFont;
    font-size: $smallTitleSize;
    color: $textTitle;
    line-height: 1.5rem;
    padding-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

   .paragraph{
    color: $text;
    font-size: $textSize;
    margin-bottom: 0.5rem;
  }
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {

  .text-container{
    display: flex;
    flex-flow: row nowrap;
    background-color: $textBackground;

    > .text-container-left{
      flex: 0 1 62%;
      order: 0;
      padding-right: 10px;
    }

    > .text-container-right{
      flex: 0 1 38%;
      order: 1;
      padding-left: 10px;
    }

    > .filler{
      display: block;
      background-color: $textBackground;

      img{
        max-width: 100%;
        height: auto;
      }
    }

    > .filler-right{
      flex: 0 1 38%;
      order:1;
    }

    > .filler-left{
      flex: 0 1 62%;
      order: 0;
    }


  }

}


//variants

//.like-button {
//  &.-wide { /* ... */ }
//  &.-short { /* ... */ }
//  &.-disabled { /* ... */ }
//}

