/* text-container
*  That's the container on the main page which contains text.
*  It's 100% wide.
*
*/

.text-container{
  padding: 10px;
  background-color: $textBackground;

  > .title{
    font-family: $textContainerTitleFont;
    font-size: $titleSize;
    color: $textTitle;
    margin-bottom: 0.75rem;
  }

  > .paragraph{
    color: $text;
    font-size: $textSize;
    margin-bottom: 0.5rem;
  }
}

/* ab hier für desktop */
@media screen and (min-width: 740px) {

  .text-container{
    padding: 20px;
    background-color: $textBackground;
  }

}


//variants

//.like-button {
//  &.-wide { /* ... */ }
//  &.-short { /* ... */ }
//  &.-disabled { /* ... */ }
//}

