/*
 Slide in a container (for example: the navigation) from the left to the right.

 */
@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}


/*

*/
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(4deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-4deg); }
  100% { transform: rotate(0deg); }
}
