/*** colors ***/

$baseColor1: #ACDFFF; //0B3CB2  //25C8FF  //8DDFFF   //ACDFFF
$baseColor2: #6795B2; //3873FF
$baseColor3: #C5E9FF;
$complimentaryColor1: #ffffff;
$complimentaryColor2: #000000;
$complimentaryColor3: #FFDCAC;
$complimentaryColor4: #B28B55;

$baseColor2Light: lighten($baseColor2, 20%);


$color-main-background: #ffffff;
$color-main-titleInTheBigPicture: #FFBD1E;


//colors _text-container
$color-textContainer-titleH2: $complimentaryColor1;
$color-textContainer-titleH3: $complimentaryColor1;
$color-textContainer-titleH4: $complimentaryColor2;
$color-textContainer-text: $complimentaryColor2;
$color-textContainer-text-hover: $complimentaryColor1;
$color-textContainer-background: $baseColor1;


//colors _text-container-drawer
$color-drawer-buttonToOpenDrawer: $complimentaryColor4;
$color-drawer-buttonToOpenDrawer-hover: $complimentaryColor1;
$color-drawer-buttonToOpenDrawerText: $complimentaryColor1;
$color-drawer-buttonToOpenDrawerText-hover: $complimentaryColor4;
$color-drawer-text: #000000;
$color-drawer-background-drawer: $baseColor2;
$color-drawer-background-dateTable: lighten($baseColor1, 5%);
$color-drawer-background-dateTable-hover: darken($baseColor1, 0%);


//colors navigation
$color-nav-mobile-background: #ffffff;
$color-nav-mobile-background-slider: $baseColor2;
$color-nav-mobile-text: #000000;

$color-nav-desktop-background: #ffffff;
$color-nav-desktop-text: #000000;
$color-nav-desktop-uSlider: #FFBD1E;


//footer
$color-footer-mobile-text: $baseColor2;
$color-footer-mobile-background: $complimentaryColor1;

$color-footer-desktop-text: $complimentaryColor2;
$color-footer-desktop-background: $complimentaryColor1;
$color-footer-link-hover: $baseColor1;



/*** sizes ***/
$maxWidth: 1200px;

$standardFontSize: 16px;

$basicWidth: 8px;
$basicHeight: 8px;

$textSize: 1rem;
$smallTextSize: 0.80rem;
$smallTitleSize: 1.25rem;
$titleSize: 1.75rem;
$bigTitleSize: 3rem;
$navTextSize: 1.5rem;


/*** fonts ***/

$standardTextFont: "Open Sans", "Arial", "sans-serif";
$textContainerTitleFont: "Gloria Hallelujah", "Arial", "sans-serif";

@mixin navigationFontDesktop(){
	color: $color-nav-desktop-text;
	font-family: $standardTextFont;
	font-size: $navTextSize;
	font-weight: bold;
}

@mixin footerFontMobile(){
  color: $color-footer-mobile-text;
  font-family: $standardTextFont;
  font-size: $standardFontSize;
  font-weight: bold;
  line-height: 24px;
}

@mixin footerFontMobileSmall(){
	color: $color-footer-mobile-text;
	font-family: $standardTextFont;
	font-size: $smallTextSize;
	line-height: 16px;
}

@mixin footerFont(){
	color: black;
	font-family: $standardTextFont;
	font-size: $standardFontSize;
	font-weight: bold;
	line-height: 24px;
}

@mixin footerFontSmall(){
	color: black;
	font-family: $standardTextFont;
	font-size: $smallTextSize;
	line-height: 16px;
}



@mixin courseTableFont(){
  color: $complimentaryColor2;
  font-family: $standardTextFont;
  font-size: $standardFontSize;
  line-height: 32px;
}

@mixin courseTableTitelFont(){
  color: $complimentaryColor1;
  font-family: $standardTextFont;
  font-size: 20px;
  line-height: 32px;
}

@mixin registrationFormFont(){
	color: lighten($complimentaryColor1, 10%);
	font-family: $standardTextFont;
	font-size: $standardFontSize;
	line-height: 32px;
}

@mixin primaryButtonFont(){
	font-family: $standardTextFont;
	font-size: $standardFontSize;
	line-height: 32px;
}

@mixin fieldInvalidStyles(){
	border: 1px solid rgb(255,0,0);
	box-shadow: 1px 1px 15px 0px rgba(255,0,0,0.75);
}

