@import "reset";
@import "specifications";

@import "utils/slick";
@import "utils/slick-theme";
@import "utils/googleMaps";

@import "animations";
@import "components/components";
@import "buttons/buttons";


/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/



html{
	font-size: $standardFontSize;
}


body{
	@include standardTextFont();
	//font-family: $standardTextFont;
	line-height: 1.25rem;

	.wrapper{
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		background-color: $color-main-background;
	}
}


header {
	position: relative;

	.mobile-header-logo{
		left: 49%;
		pointer-events: none;
		position: absolute;
		top: -26px;
		width: 50%;
		z-index: 3;
	}

	img{
		width: 100%;
	}

	picture.mobile-header-picture {
		display: block;
	}

	.images-carousel {
		display: none;
	}

	svg.header-fill__bottom {
		display: block;
		position: absolute;
		bottom: 5px;
		width: 100%;
		height: 100px;
		z-index: 2;
	}

	svg.header-fill__top {
		display: block;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 120px;
		z-index: 2;
	}

	.course-date-overview{
		display: none;
	}
}


main{
	.text-container:first-child, .text-container__home:first-child{
		margin-bottom: 20px;
	}

	.text-container, .text-container__home{
		margin-bottom: 10px;
	}
}



/* ************************************************************* */
/* *********** ab hier für tablet ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...

	header{
		.mobile-header-logo{
			left: 67%;
			position: absolute;
			top: clamp(-39px, -3vw , -10px); // -39px;
			width: 30%;
		}

		svg.header-fill__bottom {
			bottom: 5px;
			height: 200px;
			z-index: 2;
		}

		svg.header-fill__top {
			top: 0px;
			height: 200px;
			z-index: 2;
		}
	}
}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...

	header{
		position: relative;
		margin-top: 0px;
		margin-bottom: 40px;

		.mobile-header-logo{
			display: none;
		}

		svg.header-fill__bottom {
			bottom: 0px;
			height: 200px;
			z-index: 2;
		}

		svg.header-fill__top {
			top: 0px;
			height: 350px;
			z-index: 2;
		}

		picture.mobile-header-picture {
			display: none;
		}

		.images-carousel {
			display: block;
			width: 100%;

			.containerForTitle {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 42%;
				padding: 15px 0px 0px 0px;
				background: inherit;
				background-attachment: fixed;
				overflow: hidden;
				z-index: 15;
			}

			.containerForTitle h1{
				position: relative;
				z-index: 5;
				width: 100%;
				font-family: $textContainerTitleFont;
				font-size: $bigTitleSize;
				color: $color-main-titleInTheBigPicture;
				line-height: 3rem;
				text-align: center;
			}
		}

		.course-date-overview{
			@include navigationFontDesktop();
			background-color: $color-course-date-overview;
			border-radius: $basicWidth;
			border: 1px solid $color-course-date-overview;
			box-shadow: 0 8px 6px -6px black;
			color: white;
			text-decoration: none;
			display: block;
			position: absolute;
			left: 60%;
			bottom: 7%;
			z-index: 3;
			padding: 1.5*$basicHeight 4*$basicWidth;
		}
	}

	.logo_desktop{
		margin-top: 4*$basicHeight;
	}
}
