@import "reset";
@import "animations";
@import "specifications";
@import "components/components";
@import "buttons/buttons";


/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/



html{
	font-size: $standardFontSize;
}


body{
	font-family: $standardTextFont;
	line-height: 1.25rem;

	.wrapper{
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		background-color: $color-main-background;
	}
}


header {
	margin-top: 61px;

	img{
		width: 100%;
	}

	img#mobile {
		display: block;
	}

	.images-carousel {
		display: none;
	}
}


main{
	.text-container{
		margin-bottom: 10px;
	}
}




/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {    //wenn Bildschirm grösser 740 px gross ist, dann...


	header{
		position: relative;
		margin-top: 40px;
		margin-bottom: 40px;

		svg.header-fill__bottom {
			position: absolute;
			bottom: 4px;
			width: 100%;
			height: 100px;
			z-index: 2;
		}

		svg.header-fill__top {
			position: absolute;
			top: 9px;
			width: 100%;
			height: 100px;
			z-index: 2;
		}

		img#desktop_logo{
			display: block;
			position: absolute;
		}

		img#mobile {
			display: none;
		}

		.images-carousel {
			display: block;
			width: 100%;


			.containerForTitle {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				padding: 60px 30px 0px 30px;
				background: inherit;
				background-attachment: fixed;
				overflow: hidden;
				z-index: 5;
			}

			.containerForTitle h1{
				position: relative;
				z-index: 5;
				width: 40%;
				font-family: $textContainerTitleFont;
				font-size: $bigTitleSize;
				color: $color-main-titleInTheBigPicture;
				line-height: 3rem;
				text-align: center;
			}
		}
	}
}
