@import "reset";

@import "utils/slick";
@import "utils/slick-theme";

@import "animations";
@import "specifications";
@import "components/components";
@import "buttons/buttons";


/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/



html{
	font-size: $standardFontSize;
}


body{
	font-family: $standardTextFont;
	line-height: 1.25rem;

	.wrapper{
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
		background-color: $color-main-background;
	}
}


header {
	position: relative;

	.mobile-header-logo{
		left: 33%;
		position: absolute;
		top: -50px;
		width: 65%;
		z-index: 15;
	}

	img{
		width: 100%;
	}

	picture.mobile-header-picture {
		display: block;
	}

	.images-carousel {
		display: none;
	}

	svg.header-fill__bottom {
		display: none;
	}

	svg.header-fill__top {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100px;
		z-index: 2;
	}

	.course-date-overview{
		@include navigationFontDesktop();
		background-color: #FF6305;
		border-radius: $basicWidth;
		border: 1px solid #FF6305;
		box-shadow: 0 8px 6px -6px black;
		color: white;
		text-decoration: none;
		display: block;
		position: absolute;
		left: 12%;
		bottom: -2%;
		z-index: 3;
		padding: 1.5*$basicHeight 4*$basicWidth;
	}
}


main{
	.text-container{
		margin-bottom: 10px;
	}
}



/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: 440px) {

	header{
		.mobile-header-logo{
			left: 50%;
			position: absolute;
			top: -56px;
			width: 45%;
			z-index: 15;
		}
	}
}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {    //wenn Bildschirm grösser 740 px gross ist, dann...

	header{
		position: relative;
		margin-top: 0px;
		margin-bottom: 40px;

		.mobile-header-logo{
			display: none;
		}

		svg.header-fill__bottom {
			display: block;
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 200px;
			z-index: 2;
		}

		svg.header-fill__top {
			display: block;
			position: absolute;
			top: 0px;
			width: 100%;
			height: 350px;
			z-index: 2;
		}

		.course-date-overview{
			left: 60%;
			bottom: 7%;
		}

		.course-date-overview:hover{
			background-color: white;
			color: #FF6305;
		}

		picture.mobile-header-picture {
			display: none;
		}

		.images-carousel {
			display: block;
			width: 100%;

			.containerForTitle {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 42%;
				padding: 15px 0px 0px 0px;
				background: inherit;
				background-attachment: fixed;
				overflow: hidden;
				z-index: 15;
			}

			.containerForTitle h1{
				position: relative;
				z-index: 5;
				width: 100%;
				font-family: $textContainerTitleFont;
				font-size: $bigTitleSize;
				color: $color-main-titleInTheBigPicture;
				line-height: 3rem;
				text-align: center;
			}
		}
	}
}
