# Redirect von http zu https wird auf Plesk gemacht.
# RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Redirect von https://joyofwhitewater.ch zu https://www.joyofwhitewater.ch wird auch auf Plesk gemacht
# RewriteEngine On
# RewriteCond %{HTTP_HOST} !^www.joyofwhitewater.ch$
# RewriteRule ^(.*)$ https://www.joyofwhitewater.ch/$1 [R=301,L]


# Redirect von https://joyofwhitewater.ch/packraft.html und /kanukurse.html zu https://www.joyofwhitewater.ch
RewriteEngine On
Redirect 301 /packraft.html https://www.joyofwhitewater.ch
Redirect 301 /kanukurse.html https://www.joyofwhitewater.ch


