# Redirect von http zu https wird auf Plesk gemacht. Somit im Moment keine .htaccess Datei verwenden.
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
