<!-- ende wrapper -->
</div>
<footer class="footer">
    <div class="footer-wrapper">

        <div class="footer-address">
            <span>mitLinXlernen AG</span>
            <span>Station Versam 7</span>
            <span>CH - 7104 Versam</span>
            <span>E-Mail</span>
        </div>

        <div class="backtotop">
            <a href="#top" class="backtotop-wrapper">
                <span class="backtotop-wrapper__label">ZURÜCK NACH OBEN</span>
                <img class="backtotop-wrapper__img" src="images/icon/arrow_up.svg" alt="Link nach oben" title="zurück nach oben">
            </a>
        </div>
    </div>
</footer>

<script src="assets/js/utils/jquery-3.2.1.js"></script>
<script src="assets/js/guiControll/navigation.js"></script>
<script src="assets/js/guiControll/imageCarousel.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>

<!--<script src="/assets/scripts/app.min.js"></script>-->
