<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <title>the joy of whitewater</title>
</head>
<body>

<div class="wrapper">

    <nav>
        <img id="hamburger" src="images/list.svg" alt="Navigation">
        <ul id="mainNavi" class="hide">
            <li><a class="u-slide-line" href="kanukurse.html">Kanukurse</a></li>
            <li><a class="u-slide-line" href="abenteuerundgenusspaddeln.html">Abenteuer-/Genusspaddeln</a></li>
            <li><a class="u-slide-line" href="joyofwhitewater.html">Joy of Whitewater</a></li>
        </ul>
        <div class="clearfix"></div>
    </nav>

    <header>
        <!-- <img id="desktop_logo" src="images/joy_logo.jpg" alt="">  -->
        <img id="mobile" src="images/flo_equador.jpg" alt="">
        <!-- <img id="desktop" src="images/flo_equador.jpg" alt=""> -->

        <div class="images-carousel">
            <ul class="images">
                <li class="image">
                    <img src="images/carousel/idaho1.jpg" alt="Idaho">
                </li>
                <li class="image">
                    <img src="images/carousel/idaho2.jpg" alt="Idaho">
                </li>
                <li class="image">
                    <img src="images/carousel/idaho3.jpg" alt="Idaho">
                </li>
                <li class="image">
                    <img src="images/carousel/idaho4.jpg" alt="Idaho">
                </li>
                <li class="image">
                    <img src="images/flo_equador.jpg" alt="">
                </li>
            </ul>
        </div>
    </header>